{extend name="layout/dialog" /}
{block name='content'}
<style>
    .dialog-content{margin:20px;}
    .dialog-footer{right:39%;top:82%;margin-left:30%;}
    .red-color{color:red;}
</style>
<div class="dialog-content">
    <form class="form-horizontal dialog-form" id="form">
        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">
                        <span class="red-color">*</span>标题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="title" value="{$list.title}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label">内容：</label>
                    <div class="col-sm-9">
                        <script id="content" name="content" type="text/plain">{$list.content|default=''}</script>
                    </div>
                </div>
            </div>
        </div>

        <div class="td-align dialog-footer">
            <button class="btn btn-warning cancle"> <i class="fa fa-close"></i> 取消</button>
            <button class="btn btn-primary" type="button" onclick="editsolution(this)" data="{$list['id']}" data-url="{:url('/v1/work/works/editsolution')}"><i class="fa fa-save"></i> 确定提交</button>
        </div>
    </form>
</div>
{/block}
