{extend name="layout/default" /}
{block name='content'}
<div class="content" style="margin-bottom:0px;min-height:0px;">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline"  id="form">

                <div class="panel panel-default panel-btn">
                    <div class="panel-heading">

                        <div class="form-group">
                            <input type="text"  class="form-control" id="keyword"  value="{$Think.get.title}" placeholder="请输入标题或关键字搜索....">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-info btn_search"  type="button"  data-url="{:url('/v1/work/works/index')}"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>搜索</button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="box box-default color-palette-box" style="min-height:700px;">
        <div class="box-header with-border">
            <button type="button" class="btn btn-sm btn-refresh"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn bg-purple btn-sm btn-dialog"
                    id="addwork" data-url="{:url('/v1/work/works/add')}">
                <i class="fa fa-plus-circle">添加新闻</i></button>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th class="td-align td-width-40px">
                    <input class="data-check_box_total" onclick="admin_module.check_out(this)" type="checkbox"/>
                </th>
                <th class="text-center">行业新闻标题</th>
                <th class="text-center">行业新闻图片</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">修改时间</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                    <tr>
                        <td class="td-align td-padding">
                            <input type="checkbox" name="box_checked" data-id="{$item.id}" class="data-check_box">
                        </td>
                        <td class="text-center">{$item.title}</td>

                        <td class="text-center">
                            <img src="{$item.pic}" alt="" style="width: 100px;height:100px;">
                        </td>
                        <td class="text-center">{$item.add_time}</td>
                        <td class="text-center">{$item.update_time}</td>
                        <td class="text-center">
                            <span class="btn {if $item['status'] == 1}btn-success{else /}btn-danger{/if}">{$status[$item['status']]}</span>
                        </td>
                        <td class="text-center">
                            <input type="hidden" value="{$item['id']}" id="mid">
                            <a   class="btn btn-info editWork" data-url="{:url('/v1/work/works/edit',['id' => $item['id']])}">编辑</a>
                            <a  onclick="delWork()" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {/volist}


                </tbody>
            </table>
            <div class="pages">

            </div>
        </div>
    </div>

</section>
{/block}
