{extend name="layout/default" /}
{block name='content'}
<div class="content" style="margin-bottom:0px;min-height:0px;">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline"  id="form">

                <div class="panel panel-default panel-btn">
                    <div class="panel-heading">

                        <div class="form-group">
                            <input type="text"  class="form-control" id="keyword"  value="{$Think.get.title}" placeholder="请输入标题或关键字搜索....">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-info btn_search"  type="button"  data-url="{:url('/v1/work/works/successcase')}"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>搜索</button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="box box-default color-palette-box" style="min-height:700px;">
        <div class="box-header with-border">
            <button type="button" class="btn btn-sm btn-refresh"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn bg-purple btn-sm btn-dialog"
                    id="addwork" data-url="{:url('/v1/work/works/addsolution')}">
                <i class="fa fa-plus-circle">添加方案</i></button>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th class="td-align td-width-40px">
                    <input class="data-check_box_total" onclick="admin_module.check_out(this)" type="checkbox"/>
                </th>
                <th class="text-center">标题</th>
                <th class="text-center">内容</th>
                <th class="text-center">图片</th>
                <th class="text-center">添加时间</th>
                <th class="text-center">添加人</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
                </thead>
                <tbody>

                {volist name="data['list']['data']" id="list"}
                <tr>
                    <td class="td-align td-padding">
                        <input type="checkbox" name="box_checked" data-id="" class="data-check_box">
                    </td>
                    <td class="text-center">{:isset($list['title']) ? $list['title'] : ''}</td>
                    <td class="text-center">
                        <textarea cols="40" rows="5">{:isset($list['content']) ? $list['content'] : ''}</textarea>
                    </td>
                    <td class="text-center">
                        <img src="{$list['pic']}" style="width:50px;height:50px;">
                    </td>
                    <td class="text-center">{:date('Y-m-d H:i:s',$list['add_time'])}</td>
                    <td class="text-center">{$list['add_user']}</td>
                    <td class="text-center">
                        <span class="btn {if $list['status'] == 1} btn-success {else /} btn-danger {/if}">{$status[$list['status']]}</span>
                    </td>
                    <td class="text-center">
                        <input type="hidden" value="{$list['id']}" id="mid">
                        <a   class="btn btn-info editsolution" data-url="{:url('/v1/work/works/editsolution',['id' => $list['id']])}">编辑</a>
                        <a  onclick="delSolution(this)" data="{$list['id']}" data-url="{:url('/v1/work/works/delsolution')}" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                {/volist}



                </tbody>
            </table>
            <div class="pages">

            </div>
        </div>
    </div>

</section>
{/block}
