 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>惠企云</title>
    <link rel="stylesheet" href="__HOME__/css/base.css">
    <link rel="stylesheet" href="__HOME__/css/index.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src='__HOME__/js/index.js'></script>
    <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
    <script src='__HOME__/js/common.js'></script>
    <script src='__PUBLIC__/common/js/common.js'></script>
    <style>
        .header {
            background-image: url("{$slideshow['pic']|default='__HOME__/images/default.png'}");
        }

        .success_icon>div:nth-of-type(1) {
            position: absolute;
            top: 49px;
            left: 14px;
            width: 386px;
            height: 166px;
            background-size: contain;
            background-image: url('__HOME__/images/huiduoxin.png');
        }

        .success_icon>div:nth-of-type(2) {
            position: absolute;
            top: 106px;
            right: -3px;
            width: 386px;
            height: 166px;
            background-size: 100%;
            background-image: url('__HOME__/images/huichuangyou.png');
        }

        .success_icon>div:nth-of-type(3) {
            position: absolute;
            top: 190px;
            left: -1px;
            width: 386px;
            height: 166px;
            background-size: contain;
            background-image: url('__HOME__/images/huilinggong.png');
        }

        .success_icon>div:nth-of-type(4) {
            position: absolute;
            top: 229px;
            right: 6px;
            width: 386px;
            height: 166px;
            background-size: 100%;
            background-image: url('__HOME__/images/huizhaoshi.png');
        }

        .success_icon>div:nth-of-type(5) {
            position: absolute;
            bottom: 107px;
            left: 12px;
            width: 386px;
            height: 166px;
            background-size: contain;
            background-image: url('__HOME__/images/huiqidong.png');
        }

        .success_icon>div:nth-of-type(6) {
            position: absolute;
            bottom: 72px;
            right: -7px;
            width: 386px;
            height: 166px;
            background-size: contain;
            background-image: url('__HOME__/images/huichuangye.png');
        }
    </style>

</head>

<body id="getdata" data="{$count}">

    <div class='container'>



        <!-- 头部 -->
        <div class='header'>
            <!-- 头部图标 -->
            <div class='header_total' id='headerTotal'>
                <div class='header_line'>
                    <div class='w header_icon'>
                        <div class='title_icon'>
                            <span class='phone'></span>
                            <span>{$site_info['tel']}</span>
                            <span class='email'></span>
                            <span>{$site_info['mail']}</span>
                            <!--<span class='bo'></span>-->
                            <!--<span class='wx'></span>-->
                            <!--<span class='tie'></span>-->
                        </div>
                        <div class='title_lan'>中文</div>
                    </div>
                </div>

            </div>


            <!-- 头部其他内容 -->
            <div class='header_fixed'>
                <div class='header_content' id='headerContent'>
                    <div class='w content'>
                        <div class='content_logo' id='logo'></div>
                        <ul>
                            <li class="nav-active"><a href="{:url('/home/index/index')}">首页</a></li>
                            <li><a href="{:url('/home/optimal/index')}">惠优税</a></li>
                            <li><a href="{:url('/home/spirit/index')}">惠灵工</a></li>
                            <li><a href="{:url('/home/many/index')}">惠多薪</a></li>
                            <li><a href="{:url('/home/business/index')}">惠创业</a></li>
                            <li><a href="{:url('/home/searches/index')}">惠找事</a></li>
                            <li><a href="{:url('/home/launch/index')}">惠企动</a></li>
                        </ul>

                        {if empty($userinfo['mobile'])}
                        <div class='register'>
                            <a href="{:url('/home/login/login')}">登录</a>
                            <span></span>
                            <a href="{:url('/home/login/register')}">注册</a>
                        </div>
                        {else /}
                        <div class="u_info">
                            <img src="__HOME__/images/user_img.png"
                                 style="width:30px;height:30px; vertical-align: middle;">
                            <p style="display:inline-block;color:#fff;">{$userinfo['mobile']}</p>
                            <div class="u_info_content" id="u_info_content">
                                <a class="u_out" href="javascript:void(0)" onclick="index_module.user_logout(this)" location_url="{:url('/home/index/index')}" data-url="{:url('/home/login/logout')}">退出账号</a>
                            </div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>


            <!-- 文字部分-->
            <div class='content_text'>
                <div class='w'>{$slideshow['title']}</div>
            </div>

            <div class='rentong'>
                <div class='w'>{$slideshow['desc']}</div>
            </div>

            <div class='btn'>
                <div class='w'>
                    <button onclick="showSearch()">定制您的方案</button>
                </div>
            </div>

        </div>


        <!-- 选择我们 -->
        <div class='chooseUs'>
            <div class="w choose">
                <div class='choose-title'>选择我们</div>
                <div class='choose-intro'>惠企云平台是一款基于国家政策、以合规化为基础、由金牌顾问团队打造的产品，为企业及个人提供税筹问题的全方位解决方案。</div>
                <ul class='img_total'>
                    <li>
                        <img src="__HOME__/images/more.png" alt="">
                        <a href="#">集专家智“惠”定制</a>
                    </li>
                    <li>
                        <img src="__HOME__/images/rainning.png" alt="">
                        <a href="#">集专家智“惠”定制</a>
                    </li>
                    <li>
                        <img src="__HOME__/images/pig.png" alt="">
                        <a href="#">给您最优“惠”</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 惠想产品 -->
        <div class='hui_product'>
            <div class='w'>
                <div class='product_logo'></div>
                <ul class='all_product'>
                    {volist name='protuct' id='v1'}
                    <li>
                        <img src="{$v1.imgs|default=''}" alt="">
                        <a href="#">{$v1.names|default=''}</a>
                        <a href="#">{$v1.desc|default=''}</a>
                        <ul class='one_pic'>
                            <li><a onclick="showSearch()">获取方案</a></li>
                            <li><a href="{$v1.purl|default='#'}">前往网站</a></li>
                        </ul>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="prop_box"></div>


        <!-- 近期成功案例 -->
        <input type="hidden" id="add_url" value="{:url('/home/index/ajaximage')}">
        <div class='success'>
            <div class='w success_content'>
                <div class='success_title'></div>
                <div class='success_icon'>
                    {volist name="case_list" id="data_list"}
                    <div onclick="click_show(this)" keys="{$key}" class="{$data_list['is_show'].$key}" data="{$count}"
                        data-attr="{$data_list['is_show']}">
                        <div class='{if $key == 1}hui_icon{else /}p_icon{/if}'>
                            <div>{$data_list['title2']}</div>
                            <div>{$data_list['title3']}</div>
                            {if $key != 1}
                            <!--<a href="javascript:void(0)">-->
                            <!--<img src="__HOME__/images/jiantou.png" alt="">-->
                            <!--</a>-->
                            {/if}
                        </div>
                    </div>
                    {/volist}

                </div>
                <div class='to_detailInfo'>
                    {volist name="case_list" id="info_list"}
                    <div class="{$info_list['is_show']}">
                        <div class='huichuangyou_title'>{$info_list['title']}</div>
                        <div class="con">
                            <div class="desc">{$info_list['desc']}</div>
                            <div class="desc">{$info_list['desc2']}</div>
                            <div class="desc">{$info_list['desc3']}</div>
                            <div class="desc">{$info_list['desc4']}</div>
                            <div class="desc">{$info_list['desc5']}</div>
                            <div class="desc">{$info_list['desc6']}</div>
                            <div class="desc">{$info_list['desc7']}</div>
                            <div class='total_input'>
                                <div>
                                    <input type="text" id='contactName' placeholder="请输入您的姓名..">
                                </div>
                                <div>
                                    <input type="text" id="companyName" placeholder="请输入您的公司名称..">
                                </div>
                                <div>
                                    <input type="text" id='contactMobile' placeholder="请输入您的手机号..">
                                </div>
                                <div>
                                    <input type='hidden' id='source' value='门户首页'>
                                    <input type='hidden' id='identification' value='企业一站式服务'>
                                    <input type="button" onclick='getErp()' value='定制您的方案'>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/volist}

                </div>
            </div>
        </div>




        <!-- 招标信息政策 -->
        <div class='zhaoBox'>
            <div class='zhaoInfo'>
                <div class='diandianone'></div>
                <div class='diandiantwo'></div>
                <div class='w'>
                    <div class='search_info'>
                        <div class='zhao_title'>
                        </div>

                        <!-- 搜索 -->
                        <div class='zhaoSearch'>
                            <div class='searchLogo'>
                                <i onclick="search(this)" data-url="{:url('/home/index/infoList')}"></i>
                                <input type="text" id="keyword" placeholder="搜索招标政策和招标信息...">
                            </div>
                            <!-- <button>查询</button> -->
                        </div>
                    </div>

                    <div class='zhaomethods'>
                        <div class='totalInfo_title'>招商政策</div>
                        {volist name="shang" id="ss"}
                        <div class='totalInfo_content'>
                            <a href="javascript:void(0)"
                               data-url="{:url('/home/index/getInfo',['mid' => $ss.id])}"
                               login_url="{:url('/home/login/login',['type' => 1,'id' => $ss.id])}"
                               mobile-phone="{$userinfo['mobile']}"
                               data-id="{$ss['id']}" onclick="home_module.show_detail(this)">
                                <div class='zhao_contentInfo'>
                                    <div>{$ss.title}</div>
                                    <div>{$ss.create_time}</div>
                                </div>
                                <div> {$ss.describe}</div>
                            </a>
                        </div>
                        {/volist}
                        <button class='know_more' mobile-phone="{$userinfo['mobile']}" onclick="showUrl(this)"
                            data-url="{:url('/home/index/infoList')}"
                            login_url="{:url('/home/login/login',['type' => 3])}">了解更多</button>
                    </div>

                    <div class='zhaoTotalInfo'>
                        <div class='totalInfo_title'>招标信息</div>
                        {volist name="biao" id="biaos"}
                        <div class='totalInfo_content'>
                            <a href="javascript:void(0)"
                               data-url="{:url('/home/index/getInfo',['mid' => $ss.id])}"
                               login_url="{:url('/home/login/login',['type' => 1,'id' => $ss.id])}"
                               mobile-phone="{$userinfo['mobile']}" data-id="{$ss['id']}" onclick="home_module.show_detail(this)">
                                <div class='zhao_contentInfo'>
                                    <div>{$biaos.title|default=''}</div>
                                    <div>{$biaos.create_time}</div>
                                </div>
                                <div>
                                    {$biaos.describe}
                                </div>
                            </a>
                        </div>
                        {/volist}

                        <button class='know_more' mobile-phone="{$userinfo['mobile']}" onclick="showUrl(this)"
                            data-url="{:url('/home/index/infoList')}"
                            login_url="{:url('/home/login/login',['type' => 3])}">了解更多</button>

                    </div>

                </div>
            </div>
        </div>


        <!-- 合作伙伴 -->
        <div class='partener'>
            <div class='w partener_total'>
                <div class='parter_icon'></div>

                <!-- <div class='search' id='search'>
                    <input type="text" placeholder="请输入姓名">
                    <input type="text" placeholder="请输入公司名称">
                    <input type="text" placeholder="请输入手机号码">
                    <input type="button" value='定义方案'>
                </div> -->
            </div>

        </div>


        <div class='partner_bottom'>
            <div class='w content'>
                <div class='partener_titile'>用智“慧”创造优“惠”</div>
                <div class='parterne_info'>
                    深耕税筹行业多年，合作企业多达几千家。专业为个人和企业解决税务难题。为您提供一站式金融、税务和人力外包服务，以及专业的税筹划分析，最安全、高效、合理的节税措施。我们有最成熟的专家团队和各行业实操经验！作为国内领先的标准化税筹服务互联网平台，我们得到了上海、安徽、江西、湖北等各地政府的大力支持，为企业节税保驾护航！
                </div>
                <div class='parter_catefories'>
                    <dl>
                        <dt>服务产品</dt>
                        <dd>服务型税筹</dd>
                        <dd>门户型税筹</dd>
                        <dd>人力资源</dd>
                    </dl>
                    <dl>
                        <dt>招商政策</dt>
                        <dd>招商政策网</dd>
                    </dl>
                    <dl>
                        <dt>合作</dt>
                        <dd>代理合作</dd>
                    </dl>
                    <dl>
                        <dt>公司信息</dt>
                        <dd>瑟维斯有限公司</dd>
                        <dd>惠创优产业联盟</dd>
                        <dd>中兴瑞华有限公司</dd>
                    </dl>
                    <dl>
                        <dt>联系我们</dt>
                        <dd>{$site_info['tel']}</dd>
                        <dd>{$site_info['mail']}</dd>
                        <dd>{$site_info['count_code']}</dd>
                    </dl>

                </div>
                <!--<div class='concat_icon'>-->
                <!--<div><img src="__HOME__/images/bo.png" alt=""></div>-->
                <!--<div><img src="__HOME__/images/wx.png" alt=""></div>-->
                <!--<div><img src="__HOME__/images/tie.png" alt=""></div>-->
                <!--</div>-->
            </div>
        </div>



        <div class='goTop' id="goTop">
            <i></i>
            <div>返回顶部</div>
        </div>

    </div>

</body>

</html>