<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$title}</title>
  <link rel="stylesheet" href="__SPI__/css/base.css">
  <link rel="stylesheet" href="__SPI__/css/Informationlist.css">
  <script src="__SPI__/js/clamp.js"></script>
  <script src='__SPI__/js/Informationlist.js'></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
  <script src='__HOME__/js/common.js'></script>
  <script src='__PUBLIC__/common/js/common.js'></script>
</head>

<body>

  <div class='container'>

    <!-- 导航部分 -->
    <div class="nav-box">
      <div class="w nav-container clearfix">
        <!-- logo图 -->
        <div class="logo">
          <h1>
            <a href="/"><img src="__SPI__/images/logo2x.png"></a>
          </h1>
        </div>
        <!-- nav部分 -->
        <div class="nav">
          <ul class="clearfix">
            <li class="nav-active"><a href="/">首页</a></li>
            <li><a href="#">惠优税</a></li>
            <li><a href="{:url('/home/spirit/index')}">惠灵工</a></li>
            <li><a href="#">惠多薪</a></li>
            <li><a href="#">惠创业</a></li>
            <li><a href="#">惠找事</a></li>
            <li><a href="#">惠启动</a></li>
          </ul>
        </div>
        <!-- 登陆注册 -->
        {if empty($userinfo['mobile'])}
        <div class='register'>
          <a href="{:url('/home/login/login')}">登录</a>
          <span></span>
          <a href="{:url('/home/login/register')}">注册</a>
        </div>
        {else /}
        <div class="u_info">
          <img src="__HOME__/images/user_img.png"
               style="width:30px;height:30px; vertical-align: middle;">
          <span style="vertical-align: middle;color:#fff">{$userinfo['mobile']}</span>
          <div class="u_info_content" id="u_info_content">
            <a class="u_out" href="javascript:void(0)" onclick="index_module.user_logout(this)" data-url="{:url('/home/login/logout')}">退出账号</a>
          </div>
        </div>
        {/if}
      </div>

    </div>

    <!-- 面包屑导航 -->
    <div class="content-box">
      <div class="w content">
        <div class="bread-crumbs">
          <span><a href="/">首页</a></span> > <span><a onclick="go_news(this)" data-url="{:url('/home/index/infoList')}">资讯</a></span> > <span></span>
        </div>
        <div class="information-list">
          <div class="tabs clearfix">
            <ul class="clearfix fl">
              <li class="li-active">招商政策</li>
              <li>招标信息</li>
            </ul>
            <div class="search-box fr">
              <input type="text" id="keyword" value="{$Think.get.keyword}" placeholder="请输入关键字">
              <div  id="searched" data-url="{:url('/home/index/infoList')}">搜索</div>
            </div>
          </div>
          <div class="tabs-items show">
            <ul  id="shang">
              {empty name='shang'}
              <li>
                <div class="tabs-items-content">
                  <div class="tabs-items-content-text figcaption">
                    <p>抱歉，没有找到与<b style="color: #ff2222">{$Think.get.keyword}</b>的相关结果。</p>
                  </div>
                </div>
              </li>
              {else /}
              {volist name='shang' id='sh'}
              <li>
                <a href="{:url('/home/index/getInfo',array('mid'=>$sh.id))}">
<!--                  <div class="tabs-items-img">-->
<!--                    <img src="./images/qitewentiyewu.jpg" alt="">-->
<!--                  </div>-->
                  <div class="tabs-items-content">
                    <div class="tabs-items-content-title figcaption">
                      <p>{$sh.title}</p>
                    </div>
                    <div class="tabs-items-content-text figcaption">
                      <p>{$sh.describe}</p>
                    </div>
                    <div class="tabs-items-content-time"><span><img src="__SPI__/images/shijian2x.png"
                          alt=""></span><span>{$sh.create_time}</span></div>
                  </div>
                </a>
              </li>
              {/volist}
              {/empty}
            </ul>
            <input type="hidden" id="sid" value="{$Think.get.keyword}">
            <input type="hidden" id="page" value="1">
            <div class="more-btn" onclick="moreShang($('#sid').val(),$('#page').val(),this)" data-href="{:url('/home/index/getInfo')}" data-url="{:url('/home/index/getshangPage')}">查看更多</div>
          </div>
          <div class="tabs-items">
            <ul id="biao">
              {empty name='biao'}
              <li>
                <div class="tabs-items-content">
                  <div class="tabs-items-content-text figcaption">
                    <p>抱歉，没有找到与<b style="color: #ff2222">{$Think.get.keyword}</b>的相关结果。</p>
                  </div>
                </div>
              </li>
              {else /}
              {volist name='biao' id='ww'}
              <li>
                <a href="{:url('/home/index/getInfo',array('mid'=>$ww.id))}">
<!--                  <div class="tabs-items-img">-->
<!--                    <img src="./images/qitewentiyewu.jpg" alt="">-->
<!--                  </div>-->
                  <div class="tabs-items-content">
                    <div class="tabs-items-content-title">
                      <p>{$ww.title}</p>
                    </div>
                    <div class="tabs-items-content-text">
                      <p>{$ww.describe}</p>
                    </div>
                    <div class="tabs-items-content-time">
                      <span><img src="__SPI__/images/shijian2x.png" alt=""></span>
                      <span>{$ww.create_time}</span>
                    </div>
                  </div>
                </a>
              </li>
              {/volist}
              {/empty}
            </ul>
            <input type="hidden" id="bid" value="{$Think.get.keyword}">
            <input type="hidden" id="pages" value="1">
            <div class="more-btn" onclick="moreBiao($('#bid').val(),$('#pages').val(),this)" data-href="{:url('/home/index/getInfo')}" data-url="{:url('/home/index/getbiaoPage')}">查看更多</div>
          </div>
        </div>
      </div>
    </div>




    <!-- 底部 -->
    <div class="fotter-box">
      <div class="w fotter">
        <div class='partener_titile'>用智“慧”创造优“惠”</div>
        <div class='parterne_info'>
          深耕税筹行业多年，合作企业多达几千家。专业为个人和企业解决税务难题。为您提供一站式金融、税务和人力外包服务，以及专业的税筹划分析，最安全、高效、合理的节税措施。我们有最成熟的专家团队和各行业实操经验！作为国内领先的标准化税筹服务互联网平台，我们得到了上海、安徽、江西、湖北等各地政府的大力支持，为企业节税保驾护航！
        </div>
        <div class='parter_catefories'>
          <dl>
            <dt><a href="#">服务产品</a></dt>
            <dd><a href="#">服务型税筹</a></dd>
            <dd><a href="#">门户型税筹</a></dd>
            <dd><a href="#">人力资源</a></dd>
          </dl>
          <dl>
            <dt><a href="#">招商政策</a></dt>
            <dd><a href="#">招商政策网</a></dd>
          </dl>
          <dl>
            <dt><a href="#">合作</a></dt>
            <dd><a href="#">代理合作</a></dd>
          </dl>
          <dl>
            <dt><a href="#">公司信息</a></dt>
            <dd><a href="#">瑟维斯有限公司</a></dd>
            <dd><a href="#">惠创优产业联盟</a></dd>
            <dd><a href="#">中兴瑞华有限公司</a></dd>
          </dl>
          <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">400-150-9896</a></dd>
            <dd><a href="#">hcylm008@dingtalk.com</a></dd>
            <dd><a href="#">武汉市硚口区南国大武汉H座18楼</a></dd>
          </dl>

        </div>
        <div class='concat_icon clearfix'>
          <div><img src="__SPI__/images/tie.png" alt=""></div>
          <div><img src="__SPI__/images/wx.png" alt=""></div>
          <div><img src="__SPI__/images/bo.png" alt=""></div>
        </div>
        <div class="partener_fotter">© Copyright 2019 惠企动（湖北）科技有限公司 . All Rights Reserved</div>
      </div>
    </div>

    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
      <i></i>
      <div>返回顶部</div>
    </div>



  </div>

</body>

</html>