<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$title}</title>
  <link rel="stylesheet" href="__SPI__/css/base.css">
  <link rel="stylesheet" href="__SPI__/css/Informationlist.css">
  <script src="__SPI__/js/clamp.js"></script>
  <script src='__SPI__/js/Informationlist.js'></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
  <script src='__SPI__/js/spirit.js'></script>
  <script src='__PUBLIC__/common/js/public.js'></script>
</head>

<body>

  <div class='container'>

    <!-- 导航部分 -->
    <div class="nav-box">
      <div class="w nav-container clearfix">
        <!-- logo图 -->
        <div class="logo">
          <h1>
            <a href="{:url('/home/spirit/index')}"><img src="__SPI__/images/logo2x.png"></a>
          </h1>
        </div>
        <!-- nav部分 -->
        <div class="nav">
          <ul class="clearfix">
            <li ><a href="{:url('/home/index/index')}">首页</a></li>
            <li><a href="{:url('/home/optimal/index')}" target="_blank">惠优税</a></li>
            <li class="nav-active"><a href="{:url('/home/spirit/index')}">惠灵工</a></li>
            <li><a href="{:url('/home/many/index')}">惠多薪</a></li>
            <li><a href="{:url('/home/business/index')}">惠创业</a></li>
            <li><a href="{:url('/home/searches/index')}">惠找事</a></li>
            <li><a href="{:url('/home/launch/index')}">惠启动</a></li>
          </ul>
        </div>
        <!-- 登陆注册 -->
        {include file="common/login"}
      </div>

    </div>

    <!-- 面包屑导航 -->
    <div class="content-box">
      <div class="w content">
        <div class="bread-crumbs">
          <span><a onclick="go_work(this)" data-url="{:url('/home/spirit/index')}">惠灵工</a></span> > <span><a onclick="go_news(this)" data-url="{:url('/home/spirit/informationList')}">资讯</a></span> ><span></span>
        </div>
        <div class="information-list">
          <div class="tabs clearfix">
            <ul class="clearfix fl">
              <li class="li-active"><a href="{:url('/home/spirit/informationList')}">行业资讯</a></li>
             <!--  <li>招标信息</li>-->
            </ul>
            <div class="search-box fr">
              <input type="text" id="keyword" value="{$Think.get.keyword}" placeholder="请输入关键字">
              <div onclick="search(this)" data-url="{:url('/home/spirit/informationList')}">搜索</div>
            </div>
          </div>
          <div class="tabs-items show">
            <ul id="content">
              {empty name='list'}
              <li>
                  <div class="tabs-items-content">
                    <div class="tabs-items-content-text figcaption">
                      <p>抱歉，没有找到与<b style="color: #ff2222">{$Think.get.keyword}</b>的相关结果。</p>
                    </div>
                  </div>
              </li>
              {else /}
              {volist name='list' id='vo'}
              <li>
                <a href="{:url('/home/spirit/detail',['mid'=>$vo['id']])}">
                  <div class="tabs-items-img">
                    <img src="{$vo.imgs|default=''}" alt="">
                  </div>
                  <div class="tabs-items-content">
                    <div class="tabs-items-content-title figcaption">
                      <p>{$vo.title}</p>
                    </div>
                    <div class="tabs-items-content-text figcaption">
                      <p>{$vo.desc}</p>
                    </div>
                    <div class="tabs-items-content-time"><span><img src="__SPI__/images/shijian2x.png"
                          alt=""></span><span>{$vo.create_time}</span></div>
                  </div>
                </a>
              </li>
              {/volist}
              {/empty}

            </ul>
            <input type="hidden" value="{$Think.get.keyword}" id="sid">
            <input type="hidden" value="1" id="page">
            <div class="more-btn" onclick="getMore($('#sid').val(),$('#page').val(),this)" data-href="{:url('/home/spirit/detail')}" data-url="{:url('/home/spirit/getpageInfo')}">查看更多</div>
          </div>

        </div>
      </div>
    </div>

    <!-- 底部 -->
    <div class="fotter-box">
      <div class="w fotter">
        <div class='partener_titile'>用智“慧”创造优“惠”</div>
        <div class='parterne_info'>
          深耕税筹行业多年，合作企业多达几千家。专业为个人和企业解决税务难题。为您提供一站式金融、税务和人力外包服务，以及专业的税筹划分析，最安全、高效、合理的节税措施。我们有最成熟的专家团队和各行业实操经验！作为国内领先的标准化税筹服务互联网平台，我们得到了上海、安徽、江西、湖北等各地政府的大力支持，为企业节税保驾护航！
        </div>
        <div class='parter_catefories'>
          <dl>
            <dt><a href="#">服务产品</a></dt>
            <dd><a href="#">服务型税筹</a></dd>
            <dd><a href="#">门户型税筹</a></dd>
            <dd><a href="#">人力资源</a></dd>
          </dl>
          <dl>
            <dt><a href="#">招商政策</a></dt>
            <dd><a href="#">招商政策网</a></dd>
          </dl>
          <dl>
            <dt><a href="#">合作</a></dt>
            <dd><a href="#">代理合作</a></dd>
          </dl>
          <dl>
            <dt><a href="#">公司信息</a></dt>
            <dd><a href="#">瑟维斯有限公司</a></dd>
            <dd><a href="#">惠创优产业联盟</a></dd>
            <dd><a href="#">中兴瑞华有限公司</a></dd>
          </dl>
          <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">400-150-9896</a></dd>
            <dd><a href="#">hcylm008@dingtalk.com</a></dd>
            <dd><a href="#">武汉市硚口区南国大武汉H座18楼</a></dd>
          </dl>

        </div>
        <div class='concat_icon clearfix'>
          <div><img src="__SPI__/images/tie.png" alt=""></div>
          <div><img src="__SPI__/images/wx.png" alt=""></div>
          <div><img src="__SPI__/images/bo.png" alt=""></div>
        </div>
        <div class="partener_fotter">© Copyright 2019 惠企动（湖北）科技有限公司 . All Rights Reserved</div>
      </div>
    </div>

    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
      <i></i>
      <div>返回顶部</div>
    </div>

  </div>

</body>

</html>