<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>招募合伙人</title>
    <link rel="stylesheet" href="__SPI__/css/base.css">
    <link rel="stylesheet" href="__SPI__/css/optimal.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body style="background-color:#f5f5f5;">
    <!-- 导航部分 -->
    <div class="nav-box">
        <div class="w nav-container clearfix">
            <!-- logo图 -->
            <div class="logo">
                <h1>
                    <img src="__SPI__/images/logo2xxx.png">
                </h1>
            </div>
            <!-- nav部分 -->
            <div class="nav">
                <ul class="clearfix">
                    <li class="nav-active"><a href="{:url('/home/index/index')}">首页</a></li>
                    <li><a href="{:url('/home/index/productservice')}">产品服务</a></li>
                    <li><a href="{:url('/home/index/solution')}">行业解决方案</a></li>
                    <li><a href="{:url('/home/index/clientcase')}">客户案例</a></li>
                    <li><a href="{:url('/home/index/informationlist')}">新闻资讯</a></li>
                    <!--<li>-->
                    <!--{if empty($userinfo['userType'])}-->
                    <!--<a href="javascript:void(0)" login_url="{:config('curl.login_url')}" loca_url="{:config('curl.hlg')}" onclick="members_click(this)">会员通道</a>-->
                    <!--{elseif $userinfo['userType'] == 'C' /}-->
                    <!--<a href="javascript:void(0)">会员通道</a>-->
                    <!--{else /}-->
                    <!--<a href="{:config('curl.redirect_url')}/task/task">会员通道</a>-->
                    <!--{/if}-->

                    <!--</li>-->
                </ul>
            </div>



            <!--登陆注册-->
            {include file="common/login"}
        </div>

    </div>
    <div class="fourzerofour-box">
        <div class="fourzerofour">
            <img src="__PUBLIC__/error_pic.png">
        </div>
        <div>正在建设中...</div>
        <div class="goHome">
            <span><i class="clock">3</i>秒后返回首页</span>
            <a href="{:url('/home/index/index')}">点击跳转</a>
        </div>
    </div>
    </div>
</body>

<script>
    $(function () {
        var count = 3;
        var timer = setInterval(function () {
            $('.clock').html(count);
            count--;
            if (count < 0) {
                clearInterval(timer)
                location.href = "{:url('/home/index/index')}"
            }
        }, 1000)

    })
</script>
<script>
    $('.nav ul li').on('click', function () {
        $(this).addClass('nav-active chosenPage').siblings().removeClass('nav-active chosenPage')
    })
    $('.nav ul li').on('mouseenter', function () {
        $(this).addClass('nav-active').siblings().removeClass('nav-active')
    })
    $('.nav-box').on('mouseleave', function () {
        $('.nav ul li').removeClass('nav-active')
        if ($('.chosenPage').length < 1) $('.nav ul li').eq(0).addClass('chosenPage')

        $('.chosenPage').addClass('nav-active')
    })
</script>

</html>