{extend name="layout/default" /}
{block name='content'}
<div class="content" style="margin-bottom:0px;min-height:0px;">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline"  id="form">


                <div class="panel panel-default panel-btn">
                    <div class="panel-heading">
                        <div class="form-group">
                            <input type="text"  class="form-control" id="keywords" value="{$Think.get.title}" placeholder="请输入标题或者描述进行查询...">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-info" id="btn_search" type="button"  data-url="{:url('/v1/cases/example/index')}">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>搜索
                            </button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="box box-default color-palette-box" style="min-height:700px;">
        <div class="box-header with-border">
            <button type="button" class="btn btn-sm btn-refresh"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn bg-purple btn-sm btn-dialog"
                    id="examadd" data-url="{:url('/v1/cases/example/add')}">
                <i class="fa fa-plus-circle">添加客户案例</i></button>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <th class="text-center" style="width:5%;">排序</th>
                <th class="text-center" style="width:10%;">标题</th>
                <th class="text-center">展示图</th>
                <th class="text-center">简介内容</th>
                <th class="text-center" style="width:21%">创建时间</th>
                <th class="text-center">创建人</th>
                <th class="text-center">操作</th>
                </thead>
                {volist name='list' id='vo' empty='数据暂时为空'}
                <tbody>
                <tr>
                    <td class="text-center">
                        <input class="form-control form-control-sm" type="number" value="{$vo.sort}"  onblur="setsort(this)" data-url="{:url('/v1/cases/example/changesort')}" data-id="{$vo.id}">
                    </td>
                    <td class="text-center">{$vo.title}</td>
                    <td class="text-center">
                        <a href="{$vo.imgs}" target="_blank">
                         <img src="{$vo.imgs}" style="width:150px;height:100px;">
                        </a>
                    </td>
                    <td class="text-center">{$vo.describes}</td>
                    <td class="text-center">{$vo.create_time}</td>
                    <td class="text-center">{$vo.addUser}</td>
                    <td class="text-center">
                        <a href="javascript:void(0)" class="btn btn-info example_edit" data-url="{:url('/v1/cases/example/edit',['id'=>$vo.id])}">编辑</a>
                        <a href="javascript:void(0)" class="btn btn-danger example_dels" data-url="{:url('/v1/cases/example/dels',['id'=>$vo.id])}">删除</a>
                    </td>
                </tr>
                </tbody>
                {/volist}

            </table>
            <div class="pages">{$list->render()}</div>
        </div>
    </div>

</section>
{/block}





