<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">主导航</li>

            <li class="treeview {if $paths == '/v1/work/works/index' || $paths == '/v1/work/works/successcase' ||  $paths == '/v1/work/works/solution' || $paths == '/v1/customer/customers/index'} active {/if} " >
                <a href="#">
                    <i class="fa fa-share"></i> <span>惠灵工</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{if $paths == '/v1/work/works/index'} active {/if}">
                        <a href="{:url('/v1/work/works/index')}">
                            <i class="glyphicon glyphicon-user"></i> <span>行业新闻资讯</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="{if $paths == '/v1/work/works/solution'} active {/if}">
                        <a href="{:url('/v1/work/works/solution')}">
                            <i class="glyphicon glyphicon-user"></i> <span>行业解决方案</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="{if $paths == '/v1/work/works/successcase'} active {/if}">
                        <a href="{:url('/v1/work/works/successcase')}">
                            <i class="glyphicon glyphicon-user"></i> <span>成功案例</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="{if $paths == '/v1/customer/customers/index'} active {/if}">
                        <a href="{:url('/v1/customer/customers/index')}">
                            <i class="glyphicon glyphicon-user"></i> <span>首页轮播图</span>
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>