<div class="bottomBox">
    <div class="w bottom">
        <div class="aboutUs">
            <span>关于我们</span>
            <p>
                惠企云旗下【惠灵工】,立足“互联网+”共享新经济，专业为企业和自由职业者提供灵活用工综合服务平台。
            </p>
        </div>
        <div class="w navBottom">
            <div class="navList">
                <dl>
                    <dt>惠企云旗下产品</dt>
                    <dd><a href="{:url('/home/index/index')}">惠灵工</a></dd>
                    <dd><a href="{:config('curl.hys')}">惠优税</a></dd>
                    <dd><a href="{:url('/home/many/index')}">惠多薪</a></dd>
                    <dd><a href="{:url('/home/business/index')}">惠创业</a></dd>
                    <dd><a href="{:url('/home/searches/index')}">惠找事</a></dd>
                </dl>
                <dl>
                    <dt>惠灵工</dt>
                    <dd><a href="{:url('/home/index/solution')}">行业解决方案</a></dd>
                    <dd><a href="{:url('/home/index/productservice')}">产品服务</a></dd>
                    <dd><a href="{:url('/home/index/clientcase')}">客户案例</a></dd>
                    <dd><a href="{:url('/home/optimal/cooperation')}">招商合作</a></dd>
                </dl>
                <dl>
                    <dt>客服热线</dt>
                    <dd>400-150-9896</dd>
                    <dd>18186194461</dd>
                </dl>
                <dl>
                    <dt>办公地址</dt>
                    <dd>武汉市硚口区南国大武汉H座</dd>
                    <dd>深圳市福田区第一世界广场A座</dd>
                    <dd>北京市西城区贵都国际中心B座</dd>
                </dl>
            </div>

            <ul class="qrCode">
                <li>
                    <div class="pic">
                        <img src="__SPI__/images/weixincode.png" alt="">
                    </div>
                    <span><img src="__SPI__/images/weixinicon.png" alt="">微信扫码关注</span>
                    <i>及时获知一手财税信息</i>
                </li>
                <li>
                    <div class="pic">
                        <img src="__SPI__/images/weibocode.png" alt="">
                    </div>
                    <span><img src="__SPI__/images/weiboicon.png" alt="">惠企云微博</span>
                    <!-- <i>及时获一手财税信息</i> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="w copyRight">©&nbsp;Copyright&nbsp;2019&nbsp;惠企动（湖北）科技有限公司&nbsp;.&nbsp;All Rights
        Reserved&nbsp;ICP证
        :
        鄂ICP备16008680号-3</div>

</div>