<div class="bottom-left">
    <div>
        <div class="bottom-title">惠家族产品</div>
        <div class="bottom-item">
            <div class="hqy"><a href="{:config('curl.website')}">惠企云</a></div>
            <ul>
                <li><a href="{:config('curl.hys')}">惠优税</a></li>
                <li><a href="{:url('/home/index/index')}">惠灵工</a></li>
                <li><a href="{:url('/home/launch/index')}">惠多薪</a></li>
                <li><a href="{:url('/home/searches/index')}">惠找事</a></li>
                <li><a href="{:url('/home/business/index')}">惠创业</a></li>
                <li><a href="{:url('/home/launch/index')}">惠企动</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="bottom-title2">联系我们</div>
        <div class="bottom-item2">
            <div>
                <p>立即预约咨询</p>
                <p>181-8619-4461</p>
            </div>
            <div>
                <p>获取税筹方案</p>
                <p>400-150-9898</p>
            </div>
        </div>
    </div>
    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
        <div><img src="__SPI__/images/top@2x.png" alt=""></div>
        <div>顶部</div>
    </div>
</div>