<div class="bottom-left">
    <div  onclick="GetErp()">
        <div class="bottom-title">咨询方案</div>
        <!-- <div class="bottom-item">
            <div class="hqy"><a href="{:config('curl.website')}">惠企云</a></div>
            <ul>
                <li><a href="{:config('curl.hys')}">惠优税</a></li>
                <li><a href="{:url('/home/index/index')}">惠灵工</a></li>
                <li><a href="javascript:void(0)" style="color: rgba(220, 220, 220, 0.6);cursor: default; border-bottom: 1px solid rgba(220, 220, 220, 0.6);">惠多薪</a></li>
                <li><a href="javascript:void(0)" style="color: rgba(220, 220, 220, 0.6);cursor: default; border-bottom: 1px solid rgba(220, 220, 220, 0.6);">惠找事</a></li>
                <li><a href="javascript:void(0)" style="color: rgba(220, 220, 220, 0.6);cursor: default; border-bottom: 1px solid rgba(220, 220, 220, 0.6);">惠创业</a></li>
                <li><a href="javascript:void(0)" style="color: rgba(220, 220, 220, 0.6);cursor: default; border-bottom: 1px solid rgba(220, 220, 220, 0.6);">惠企动</a></li>
            </ul>
        </div> -->
    </div>
    <div>
        <div class="bottom-title2">联系我们</div>
        <div class="bottom-item2">
            <div>
                <p>立即预约咨询</p>
                <p>181-8619-4461</p>
            </div>
            <div>
                <p>获取税筹方案</p>
                <p>400-150-9898</p>
            </div>
        </div>
    </div>
    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
        <div><img src="__SPI__/images/top@2x.png" alt=""></div>
        <div>顶部</div>
    </div>
</div>