{if empty($userinfo['mobile'])}
<div class="loging clearfix">
    <div class="register-btn"><a href="javascript:void(0)" onclick="click_login(this)" location_url="{:config('curl.hlg')}" login_url="{:config('curl.login_url')}" target="_blank">
            登录
        </a></div>
    <div class="loging-btn"><a href="{:url('/home/login/register')}">注册</a></div>
</div>
{else /}
<div class="u_info">
    <div>
        <div class="u_info_img">
            <img src="__SPI__/images/user_img.png" style="width:30px;height:30px; vertical-align: middle;">
        </div>
        <p id="mobile_phone">{$userinfo['mobile']}</p>
    </div>
    <div class="u_info_content" id="u_info_content">
        <a class="u_out" href="javascript:void(0)" onclick="user_logout(this)" data-token="{$userinfo['token']}"
            location_url="{:url('/home/index/index')}" data-url="{:url('/home/login/logout')}">退出账号</a>
    </div>
</div>
{/if}