{if empty($userinfo['mobile'])}
<div class="loging clearfix">
    <div class="register-btn"><a href="{$baseurl}" target="_blank">
        登陆
    </a></div>
    <div class="loging-btn"><a href="{:url('/home/login/register')}">注册</a></div>
</div>
{else /}
<div class="u_info">
    <img src="__HOME__/images/user_img.png"
         style="width:30px;height:30px; vertical-align: middle;">
    <p style="display:inline-block;color:#fff;">{$userinfo['mobile']}</p>
    <div class="u_info_content" id="u_info_content">
        <a class="u_out" href="javascript:void(0)" onclick="user_logout(this)" location_url="{:url('/home/index/index')}" data-url="{:url('/home/login/logout')}">退出账号</a>
    </div>
</div>
{/if}