/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .475rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .175rem !important;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .475rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .175rem !important;
    }
}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0.7rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .675rem 0 0 0.7rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .375rem !important;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .5375rem 0 0 1.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 1.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }

}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }

}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    background: rgba(245, 249, 255, 1);
}

/* nav部分 */

.container {
    min-width: 75rem;
}


.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    background: #FFFFFF;
    z-index: 999;
}

.nav-container {
    padding-top: .625rem;
}

.nav-container .logo {
    float: left;
    width: 9.25rem;
    height: 2.875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    display: block;
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
}

.nav-container .nav ul {
    list-style: none;
    margin: .9375rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    float: left;
    margin-right: 1.875rem;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.125rem;
    font-family: "PingFang-SC-Medium";
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    color: #03053A;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100% !important;
    height: 4px;
    background-color: #2F80ED;
}

/* 登陆注册 */
.nav-container .loging {
    float: right;
    margin: .1875rem 0 0 4.375rem;
    /* margin: 0 0 0 4.375rem; */
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    /*border: 1px solid rgba(191, 191, 191, 1);*/
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #03053A;
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border: 1px solid rgba(191, 191, 191, 1);
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border: 1px solid #03053A;
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #03053A;
    /* color: #03053A; */
}

.nav-container .loging div:nth-child(2) a {
    color: #FFFFFF;
}

.enterprise-portal {
    float: left;
    width: 7.5rem;
    height: 2.625rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.625rem;
    margin-top: .625rem;
    cursor: pointer;
}

.enterprise {
    color: #fff;
}


/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    /* margin-top: .625rem; */
    padding-left: 1.25rem;
    height: 3.125rem;
    padding-bottom: .375rem;
    cursor: pointer;
}

.u_info>div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 100%;
}

.u_info>div:nth-child(1)>.u_info_img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: .3125rem;
}

.u_info>div:nth-child(1)>.u_info_img img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.u_info>div:nth-child(1)>P {
    display: inline-block;
    color: #03053A;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -2.5125rem;
    left: -0.5625rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: #F5F7FE;
    box-shadow: 0px 0px 10px 0px rgba(11, 32, 64, 0.1);
    border-radius: 2px;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 1.0625rem .875rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.75rem;
}

.u_info_content .u_out:hover {
    /* background: #f0f7fe; */
    background: #fff;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fff;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}

/* 用户信息end */

.main_content {
    width: 100%;
    /* height: 1852px; */
    background: rgba(245, 249, 255, 1);
    /* margin-top: 3.75rem; */
    margin-bottom: 4.625rem;
}

.content_middle {
    width: 75rem;
    margin: 0 auto;
}

/* 面包屑 */

.bread_title {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.bread_title b {
    font-weight: 400;
}

.bread_title a:hover {
    color: #2F80ED;
    cursor: pointer;
}

.bread_title .current {
    color: #2F80ED;
}



.pic_total {
    width: 75rem;
    /* height: 1780px; */
    background: rgba(255, 255, 255, 1);
    padding: 2rem 5.25rem 0 3.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.pic_title {
    font-size: 1.125rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(25, 38, 60, 1);
}

.time {
    margin-top: 1.5625rem;
    font-size: .75rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.line {
    width: 65.625rem;
    height: 1px;
    background: rgba(245, 245, 245, 1);
    margin-top: 0.5625rem;
}

.tuwen {
    padding: 3.375rem 0 2.125rem 2rem;
}



.wenzi {
    font-size: .875rem;
    font-family: 'Microsoft YaHei', "微软雅黑";
    font-weight: 400;
    line-height: 1.5rem;
    margin: .875rem 0;
    color: #333333;
}

.wenzi:nth-child(1) {
    margin-bottom: 0.25rem;
}

.tuwen img:nth-of-type(1) {
    display: inline-block;
    width: 40rem;
    height: 30rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.tuwen img:nth-of-type(2) {
    display: inline-block;
    width: 40rem;
    height: 26.625rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.song,
.dong,
.xian,
.more {
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #333;
}

.song {
    margin-top: .625rem;
}

.dong {
    line-height: 1.5rem;
}

.page {
    position: relative;
    margin-top: 16.25rem;
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.page::after {
    content: "";
    top: -3.3125rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 65.625rem;
    height: 1px;
    background: rgba(245, 245, 245, 1);
}

.page div {
    margin-bottom: .375rem;
}

.page div span {
    margin-right: 0.3125rem;
}

.page div a:hover {
    color: #4091FF
}

.page div a {
    color: #999999;
}






/* 返回顶部 */
/* bottom资讯 */
.bottom-left {
    position: fixed;
    right: 0;
    bottom: 2.5rem;
    z-index: 1000;
}

.bottom-left>div:nth-child(1),
.bottom-left>div:nth-child(2) {
    position: relative;
    width: 2.875rem;
    height: 10rem;
}

.bottom-left>div:nth-child(1) {
    margin-bottom: 10px;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
}

.bottom-left>div:nth-child(2) {
    background: #2E2E46;
}

.bottom-left>div .bottom-title,
.bottom-left>div .bottom-title2 {
    /* line-height: 5rem; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    width: 2.875rem;
    height: 10rem;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 1.375rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.bottom-left>div .bottom-title2 {
    background: #272939;
}

.bottom-left>div>.bottom-item,
.bottom-left>div>.bottom-item2 {
    position: absolute;
    right: -12.5rem;
    /* right: 12.5rem; */
    top: 0;
    width: 12.5rem;
    height: 10rem;
    transition: all 0.5s;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-left>div>.bottom-item {
    padding-top: .625rem;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
}

.bottom-left>div>.bottom-item .hqy {
    padding-left: 2rem;
    /* width: 3.3925rem; */
    height: 1.5rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    margin-bottom: .425rem;
}

.bottom-left>div>.bottom-item .hqy a {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #fff;
}

/* .bottom>div>.bottom-item ul {
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
} */

.bottom-left .bottom-item ul {
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.6rem; */
}

.bottom-left .bottom-item ul li {
    float: left;
    /* width: 3.375rem; */
    height: 1.6875rem;
    line-height: 1.6875rem;
    padding-left: 2rem;
    margin-bottom: .875rem;

}

.bottom-left .bottom-item ul li a {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.bottom-left>div>.bottom-item2 {
    padding: 0 8px;
    background-color: #000;
}

.bottom-left>div>.bottom-item2 div {
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-left>div>.bottom-item2 div:nth-child(2) {
    padding: .875rem 0 0 2.375rem;
}

.bottom-left>div>.bottom-item2 div:nth-child(1) {
    padding: 1.0375rem 0 0 2.375rem;
    border-bottom: 1px solid #fff;
}

.bottom-left>div>.bottom-item2 div p:nth-child(1) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: .675rem;
}

.bottom-left>div>.bottom-item2 div p:nth-child(2) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: .875rem;
}

.bottom-left>div:hover .bottom-item,
.bottom-left>div:hover .bottom-item2 {
    right: 3.1rem;
}

.bottom-left-item2 {
    background: url('../images/consultation.png') no-repeat;
    background-size: 100% 100%
}

/* 返回顶部 */

.bottom-left>div:nth-child(3).goTop {
    width: 2.875rem;
    height: 3.5rem;
    text-align: center;
    z-index: 999;
    background-color: #272939;
    padding-top: .625rem;
    display: none;
    cursor: pointer;
    margin-top: .625rem;
    padding-top: .625rem;
}

.goTop div:nth-child(1) {
    width: 1.375rem;
    height: 1.375rem;
    margin: 0 auto;
    margin-bottom: .375rem;
}

.goTop div:nth-child(1) img {
    width: 100%;
}

.goTop div:nth-child(2) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

/* 返回顶部 */
/* 
.goTop {
    position: fixed;
    bottom: 6.25rem;
    right: 8.4375rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    z-index: 999;
    float: right;
    background-color: red;
    background-color: #fff;
    display: none;
    padding-top: 0.4375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.goTop i {
    overflow: hidden;
    float: right;
    display: inline-block;
    width: 2.1875rem;
    height: 2.5625rem;
    background-size: contain;
    background-image: url('../images/goback.png');
    margin-bottom: .2875rem;
}

.goTop div {
    font-size: .875rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
} */

/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/kehuanlibanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-left: 4rem;
    padding-top: 7.8rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}