/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/* 分成120等分 */

html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }
}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* nav部分 */

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #FFFFFF;
    z-index: 999;
}

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #FFFFFF;
    z-index: 999;
}

.nav-container {
    padding-top: .625rem;
}

.nav-container .logo {
    float: left;
    width: 7.8125rem;
    height: 2.875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    display: block;
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
}

.nav-container .nav ul {
    list-style: none;
    margin: .9375rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    float: left;
    margin-right: 1.875rem;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.125rem;
    font-family: "PingFang-SC-Medium";
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    color: #03053A;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100% !important;
    height: 4px;
    background-color: #2F80ED;
}

.nav-container .loging {
    float: right;
    margin: .75rem 0 0 4.375rem;
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(191, 191, 191, 1);
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #fff;
    color: #2F80ED;
}

.nav-container .loging div:nth-child(2) a {
    color: #2F80ED;
}

.enterprise-portal {
    float: left;
    width: 7.5rem;
    height: 2.625rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.625rem;
    margin-top: .625rem;
    cursor: pointer;
}

.enterprise {
    color: #fff;
}




/* 登陆注册 */

.nav-container .loging {
    float: right;
    margin: 1.25rem 0 0 0;
}

.nav-container .loging div {
    float: left;
    width: 3.5rem;
    height: 1.625rem;
    text-align: center;
    line-height: 1.625rem;
    background: url('../images/login-bg.png') no-repeat;
    background-size: 100% 100%;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 1.625rem;
    font-size: 1rem;
    font-family: 'Source Han Sans CN', "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: #E8341E;
    line-height: 1.625rem;
}

.nav-container .loging div:nth-child(2) {
    margin-left: 1.25rem;
    margin-right: 2.5625rem
}


/* 头像部分 */

.nav-container .user-icon-box {
    position: relative;
    float: right;
    text-align: center;
    height: 3rem;
    margin-top: 1.05rem;
    padding-left: 1.25rem;
    /* margin-right: 2.5625rem; */
    cursor: pointer;
    /* background-color: pink; */
}

.nav-container .user-icon-box .user-icon {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.nav-container .user-icon-box .phone {
    height: 23px;
    display: inline-block;
}


/* 登陆退出 */

.login-out {
    display: none;
    position: absolute;
    width: 5.625rem;
    bottom: -38px;
    left: -0.425rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .125rem;
}

.login-out::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #333;
    border-left: .625rem solid transparent;
}

.login-out ul {}

.login-out ul li {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #333;
}

.login-out ul li a {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: #fff;
}

.login-out ul li:hover {
    background-color: #FE0B0C;
}

.nav-container .user-icon-box:hover .login-out {
    display: block;
}

/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/kehuanlibanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-top: 7.8rem;
    text-align: left;

}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}
.header-box .header p:nth-of-type(1) {
    font-size:1.125rem;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height: 1.8;
}

/* 面包屑 */

.crumbs {
    background-color: #F5F9FF;
    height: 4.5rem;
    line-height: 4.5rem;
}

.crumbs-box {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b {
    font-weight: 400;
    color: #4091FF
}

.crumbs-box b a {
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b a:hover {
    color: #4091FF
}

/* 客户案例 */

.bg_tab {
    background-color: #F5F9FF;
}

.bg_tab ul {
    width: 80rem;
}

.bg_tab ul li {
    float: left;
    width: 22rem;
    height: 32.25rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    margin-right: 4.5rem;
    margin-bottom: 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.bg_tab ul li:hover {
    box-shadow: 0px 3px 7px 0px rgba(210, 210, 210, 1);
}

.item-img {
    position: relative;
    width: 100%;
    height: 16.25rem;
}

.tabBox .item-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.tabBox .item-content {
    position: relative;
    padding: 1.875rem 1.375rem 0 1.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 1s;
}

.tabBox .item-content p:nth-of-type(1) {
    width: 100%;
    height: 3.125rem;
    font-size: 1.125rem;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 1.4;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tabBox .item-content p:nth-of-type(2) {
    height: 4rem;
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1.75rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tabBox .item-content div:nth-of-type(1) {
    width: 8.75rem;
    height: 2.5rem;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    border-radius: 20px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
    text-align: center;
}

.tabBox .item-content::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0rem;
    height: 4px;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    transition: all .6s;
}

.tabBox li:hover .item-content::after {
    width: 100%;
}

.item-img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}

.tabBox li:hover .item-img::after {
    display: block;
}



/* 底部 */
.bottomBox {
    background: #323c48;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottomBox .bottom {
    color: #dcdcdc;
}

.bottomBox .bottom .aboutUs {
    padding-top: 5.25rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .aboutUs span {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #fff;
    font-family: Source Han Sans CN;
    font-weight: 500;
}

.bottomBox .bottom .aboutUs p {
    margin-top: 2.125rem;
    line-height: 1.75rem;
    vertical-align: top;
}

.bottomBox .bottom .navBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.75rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .navBottom .navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bottomBox .bottom .navBottom .navList dl {
    margin-right: 6.25rem;
}

.bottomBox .bottom .navBottom .navList dl dt {
    cursor: default;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-family: "Noto Sans SC";
    margin-bottom: 3.25rem;
}

.bottomBox .bottom .navBottom .navList dl dd {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl dd a {
    display: block;
    color: #dcdcdc;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(3) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(4) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) {
    margin: 0;
}

.bottomBox .bottom .navBottom .navList dl:nth-child(3) dd a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:last-child {
    margin: 0;
}

.bottomBox .bottom .navBottom .qrCode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.bottomBox .bottom .navBottom .qrCode li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottomBox .bottom .navBottom .qrCode li .pic {
    width: 6.25rem;
    height: 6.25rem;
}

.bottomBox .bottom .navBottom .qrCode li .pic img {
    width: 100%;
    height: 100%;
}

.bottomBox .bottom .navBottom .qrCode li span {
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 1.875rem;
    margin-bottom: .75rem;
}

.bottomBox .bottom .navBottom .qrCode li span img {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: .375rem;
}

.bottomBox .bottom .navBottom .qrCode li i {
    font-size: .75rem;
    font-style: normal;
    color: #fff;
}

.bottomBox .bottom .navBottom .qrCode li:first-child {
    margin-right: 1.625rem;
}

.bottomBox .copyRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
    line-height: .875rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem 0;
    color: #C3C3C3;
}


/* 返回顶部 */

.bottom>div:nth-child(3).goTop {
    width: 5rem;
    height: 4.5625rem;
    text-align: center;
    z-index: 999;
    background-color: #272939;
    padding-top: .625rem;
    display: none;
    cursor: pointer;
    margin-top: .625rem;
    padding-top: .625rem;
}

.goTop div:nth-child(1) {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: .375rem;
}

.goTop div:nth-child(1) img {
    width: 100%;
}

.goTop div:nth-child(2) {
    font-size: 1.125rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}