/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/* 分成120等分 */

html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    /* 客户案例列表 */
    /* .tabBox .item-content p:nth-of-type(1) {
        height: 4.125rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4.5rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    } */

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.5rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 3.5rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4.7rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }



}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4.7rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    /* 客户案例列表 */
    .tabBox .item-content p:nth-of-type(1) {
        height: 3.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tabBox .item-content p:nth-of-type(2) {
        height: 4rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}



/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/kehuanlibanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-left: 4rem;
    padding-top: 7.8rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: "PingFang-SC","syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: "PingFang-SC","syht";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}

/* 面包屑 */

.crumbs {
    background-color: #F5F9FF;
    height: 4.5rem;
    line-height: 4.5rem;
}

.crumbs-box {
    font-size: 1rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b {
    font-weight: 400;
    color: #4091FF
}

.crumbs-box b a {
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b a:hover {
    color: #4091FF
}

/* 客户案例 */

.bg_tab {
    background-color: #F5F9FF;
}

.bg_tab ul {
    /* width: 80rem; */
}

.bg_tab ul li {
    float: left;
    width: 22rem;
    height: 32.25rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    margin-right: 4.5rem;
    margin-bottom: 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.bg_tab ul li:nth-child(3n+3) {
    margin-right: 0;
}

.bg_tab ul li:hover {
    box-shadow: 0px 3px 7px 0px rgba(210, 210, 210, 1);
}

.item-img {
    position: relative;
    width: 100%;
    height: 16.25rem;
}

.tabBox li {
    position: relative;
}

.tabBox .item-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.tabBox .item-content {
    position: relative;
    padding: 1.875rem 1.375rem 0 1.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 1s;
    /* height: 16rem; */
}

.tabBox .item-content p:nth-of-type(1) {
    width: 100%;
    height: 3.125rem;
    font-size: 1.125rem;
    font-family: "PingFang-SC","syht";
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 1.4;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tabBox .item-content p:nth-of-type(2) {
    height: 4.4rem;
    font-size: .875rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    /* margin-bottom: 1.25rem; */
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tabBox .item-comtent-more {
    position: absolute;
    left: 1.375rem;
    bottom: 1.125rem;
    width: 8.75rem;
    height: 2.5rem;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    border-radius: 1.25rem;
    font-size: 1rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
    text-align: center;
}

.tabBox .item-content::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0rem;
    height: 4px;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    transition: all .6s;
}

.tabBox li:hover .item-content::after {
    width: 100%;
}

.item-img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}

.tabBox li:hover .item-img::after {
    display: block;
}

