/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.666px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 6.25rem;
    background: rgba(3, 28, 54, 1);

}

.header_content {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 .875rem 0;
}

.logo {
    margin-left: .75rem;
    width: 7.75rem;
    height: 3.375rem;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.titile {
    list-style: none;
    display: flex;
  
    /* margin: 0px 0px 0 129px; */
    height: 2.75rem;
}

.titile li:nth-of-type(1) a {
    font-size: 1.5rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
}

.titile li:nth-of-type(2) {
    margin: 0 2.625rem;
}

.titile li:nth-of-type(4) {
    margin: 0 2.5625rem;
}

.titile li:nth-of-type(6) {
    margin: 0 2.625rem 0 2.5625rem;
}

.titile a {
    /* padding:0 28px; */
    font-size: 1.25rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 2.375rem;
    height: 2px;
    background: rgba(255, 255, 255, 1);
}

.titile li {
    padding-top: .75rem;
    box-sizing: border-box;

}

.titile li:nth-of-type(1) {
    padding-top: 0.5625rem;
    box-sizing: border-box;
}


/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    margin-top: .4625rem;
    cursor: pointer;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -2.8125rem;
    left: -1.8125rem;
    background-color: pink;
    text-align: center;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(11, 32, 64, 0.1);
    border-radius: 2px;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.0625rem .875rem;
    box-sizing: border-box;
    line-height: .75rem;
}

.u_info_content .u_out:hover {
    background: #f0f7fe;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fffF;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}

.main_content {
    width: 100%;
    /* height: 1852px; */
    background: rgba(245, 249, 255, 1);
}

.content_middle {
    width: 75rem;
    margin: 0 auto;
}

.bread_title {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.pic_total {
    width: 75rem;
    /* height: 1780px; */
    background: rgba(255, 255, 255, 1);
    padding: 2rem 5.25rem 0 3.375rem;
    box-sizing: border-box;
}

.pic_title {
    font-size: 1.125rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(25, 38, 60, 1);
}

.time {
    margin-top: 1.5625rem;
    font-size: .75rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.line {
    width: 65.625rem;
    height: 1px;
    background: rgba(245, 245, 245, 1);
    margin-top: 0.5625rem;
}

.tuwen {
    padding: 3.375rem 0 4.125rem 2rem;
}



.wenzi {
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 1.5rem;
    margin: .875rem 0;
    color: #333333;
}

.wenzi:nth-child(1) {
    margin-bottom: 0.25rem;
}

.tuwen img:nth-of-type(1) {
    display: inline-block;
    width: 40rem;
    height: 30rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.tuwen img:nth-of-type(2) {
    display: inline-block;
    width: 40rem;
    height: 26.625rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.song,
.dong,
.xian,
.more {
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #333;
}

.song {
    margin-top: .625rem;
}

.dong {
    line-height: 1.5rem;
}

.page {
    margin-top: 16.25rem;
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.page div {
    margin-bottom: .375rem;
}

.page div span {
    margin-right: 0.3125rem;
}

.page div a:hover {
    color: #4091FF
}

.page div a {
    color: #999999;
}

.fotter-box {
    border-radius: 5rem 5rem 0px 0px;
    background-color: #323C48;
    padding-bottom: 2.375rem;
}

.fotter-box .fotter {}

.partener_titile {
    padding-top: 3.6875rem;
    font-size: 3rem;
    font-family: "PingFang SC";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px undefined;
    text-stroke: 1px undefined;
}

.parterne_info {
    margin: 3.75rem 0 0 0;
    padding-bottom: 3.75rem;
    border-bottom: 1px solid #ccc;
    font-size: .875rem;
    font-family: "Source Han Sans CN";
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
    line-height: 1.4375rem;
}

.parter_catefories {
    margin-top: 4.9375rem;
    overflow: hidden;
    font-size: .6875rem;
    font-family: "Source Han Sans CN";
    font-weight: 300;
    color: rgba(220, 220, 220, 1);
}

.parter_catefories>dl {
    float: left;
}

.parter_catefories>dl:nth-of-type(2) {
    margin: 0 5.125rem 0 5.875rem;
}

.parter_catefories>dl:nth-of-type(3) {
    margin-right: 5.875rem;
}

.parter_catefories>dl:nth-of-type(5) {
    float: right;
}

.parter_catefories dl dt {
    margin-bottom: 3.3125rem;
}

.parter_catefories dl dd {
    margin-top: 1.8125rem;
}

.parter_catefories dl dt>a {
    font-size: 1.125rem;
    font-family: "Source Han Sans CN";
    font-weight: 700;
    color: rgba(220, 220, 220, 1);
}

.parter_catefories dl dd>a {
    font-size: 1.125rem;
    font-family: 'Source Han Sans CN';
    font-weight: 400;
    color: rgba(220, 220, 220, .7);
}

.concat_icon {
    margin-top: 1.75rem;
    /* margin-right: 46px; */
    padding-right: 2.875rem;
    padding-bottom: 3.5625rem;
    border-bottom: 1px solid rgba(122, 122, 122, 1);
}

.concat_icon div {
    float: right;
    width: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin-left: 1.5rem;
}

.concat_icon img {
    padding-top: 0.1875rem;
    padding-left: 1px;
    height: 60%;
    width: 60%;
    border-radius: 50%;
}

.concat_icon div:nth-of-type(2) {
    background-color: #67CE0B;
}

.partener_total {
    position: relative;
}

.partener_fotter {
    margin-top: 1.375rem;
    text-align: center;
    font-size: .875rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(195, 195, 195, 1);
    padding-bottom: 4.25rem;
}


/* 返回顶部 */

.goTop {
    position: fixed;
    bottom: 1.25rem;
    right: 8.4375rem;
    width: 3.125rem;
    height: 2.8125rem;
    text-align: center;
    z-index: 999;
    background-color: #fff;
    padding-top: 0.3125rem;
    display: none;
    cursor: pointer
}

.goTop i {
    overflow: hidden;
    /* float: right; */
    display: inline-block;
    width: 1.4375rem;
    height: 1.625rem;
    background-size: contain;
    background-image: url('../images/goback.png');
}

.goTop div {
    font-size: 0.5625rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}