/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }


}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }


}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }



}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    background: rgba(245, 249, 255, 1);
}



.main_content {
    width: 100%;
    /* height: 1852px; */
    background: rgba(245, 249, 255, 1);
    /* margin-top: 3.75rem; */
    margin-bottom: 4.625rem;
}

.content_middle {
    width: 75rem;
    margin: 0 auto;
}

/* 面包屑 */

.bread_title {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.bread_title b {
    font-weight: 400;
}

.bread_title a:hover {
    color: #2F80ED;
    cursor: pointer;
}

.bread_title .current {
    color: #2F80ED;
}



.pic_total {
    width: 75rem;
    /* height: 1780px; */
    background: rgba(255, 255, 255, 1);
    padding: 2rem 5.25rem 0 3.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.pic_title {
    font-size: 1.875rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(25, 38, 60, 1);
}

.time {
    margin-top: 1.5625rem;
    font-size: .75rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.line {
    width: 65.625rem;
    height: 1px;
    background: rgba(245, 245, 245, 1);
    margin-top: 0.5625rem;
}

.tuwen {
    padding: 3.375rem 0 2.125rem 2rem;
}



.wenzi {
    font-size: .875rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    line-height: 1.5rem;
    margin: .875rem 0;
    color: #333333;
}

.wenzi:nth-child(1) {
    margin-bottom: 0.25rem;
}

.tuwen img:nth-of-type(1) {
    display: inline-block;
    width: 40rem;
    height: 30rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.tuwen img:nth-of-type(2) {
    display: inline-block;
    width: 40rem;
    height: 26.625rem;
    margin: .625rem 0 .625rem 11.8125rem;
}

.song,
.dong,
.xian,
.more {
    font-size: .875rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #333;
}

.song {
    margin-top: .625rem;
}

.dong {
    line-height: 1.5rem;
}

.page {
    margin: 0 auto;
    margin-top: 3.9375rem;
    padding-top: 2.3125rem;
    font-size: .875rem;
    font-family: "PingFang-SC","syht";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    border-top: 1px solid rgba(245, 245, 245, 1);
}


.page div {
    margin-bottom: .375rem;
}

.page div span {
    margin-right: 0.3125rem;
}

.page div a:hover {
    color: #4091FF
}

.page div a {
    color: #999999;
}






/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/xinwenzixunbanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-left: 4rem;
    padding-top: 7.8rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: "PingFang-SC","syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: "PingFang-SC","syht";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}

