.bottomBox {
    background: #323c48;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .bottomBox .bottom {
    color: #dcdcdc;
  }
  
  .bottomBox .bottom .aboutUs {
    padding-top: 2.6875rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #7a7a7a;
  }
  
  .bottomBox .bottom .aboutUs span {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    font-family: "PingFang-SC","syht";
    font-weight: 500;
  }
  
  .bottomBox .bottom .aboutUs p {
    margin-top: 2.125rem;
    line-height: 1.75rem;
    vertical-align: top;
    font-size: 1rem;
  }
  
  .bottomBox .bottom .navBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.75rem;
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 1.5rem;
  }
  
  .bottomBox .bottom .navBottom .navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  .bottomBox .bottom .navBottom .navList dl:first-child {
    margin-right: 4.5rem;
  }
  .bottomBox .bottom .navBottom .navList dl:nth-child(2) {
    margin-right: 6rem;
  }
.bottomBox .bottom .navBottom .navList dl:nth-child(2) dd:last-child a{
  color: rgba(220, 220, 220, 0.3);
  cursor: default;
}
  .bottomBox .bottom .navBottom .navList dl:nth-child(3) {
    margin-right: 5.5rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dt {
    cursor: default;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-family: "PingFang-SC","syht";
    margin-bottom: 3.25rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dd {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl dd a {
    font-family: "PingFang-SC","syht";
    display: block;
    color: #dcdcdc;
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
  
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(3) a,
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(4) a,
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
  }
  
  .bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) {
    margin: 0;
  }
  
  .bottomBox .bottom .navBottom .navList dl:nth-child(3) dd a,
  .bottomBox .bottom .navBottom .navList dl:nth-child(4) dd a {
    /* color: rgba(220, 220, 220, 0.3); */
    cursor: default;
  }
  
  .bottomBox .bottom .navBottom .navList dl:last-child {
    margin: 0;
  }
  
  .bottomBox .bottom .navBottom .qrCode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .bottomBox .bottom .navBottom .qrCode li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .bottomBox .bottom .navBottom .qrCode li .pic {
    width: 6.25rem;
    height: 6.25rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li .pic img {
    width: 100%;
    height: 100%;
  }
  
  .bottomBox .bottom .navBottom .qrCode li span {
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 1.875rem;
    margin-bottom: .75rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li span img {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: .375rem;
  }
  
  .bottomBox .bottom .navBottom .qrCode li i {
    font-size: .75rem;
    font-style: normal;
    color: #fff;
  }
  
  .bottomBox .bottom .navBottom .qrCode li:first-child {
    margin-right: 1.625rem;
  }
  
  .bottomBox .copyRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
    line-height: .875rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem 0;
    color: #C3C3C3;
  }
  