/* nav部分 */

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #FFFFFF;
    z-index: 999;
}

.nav-container {
    padding-top: .625rem;
}

.nav-container .logo {
    float: left;
    width: 9.25rem;
    height: 2.875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    display: block;
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
    height: 3.125rem;
}

.nav-container .nav ul {
    list-style: none;
    padding: 0;
    height: 3.125rem;
    line-height: 3.125rem;
}

.nav-container .nav ul li {
    height: 3.125rem;
    float: left;
    margin-right: 1.875rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.125rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    color: #03053A;
}

.nav-active {
    border-bottom: 4px solid #2F80ED;
}

/* 登陆注册 */
.nav-container .loging {
    float: right;
    margin: .1875rem 0 0 4.375rem;
    /* margin: 0 0 0 4.375rem; */
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    /*border: 1px solid rgba(191, 191, 191, 1);*/
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: #03053A;
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border: 1px solid rgba(191, 191, 191, 1);
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border: 1px solid #03053A;
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #03053A;
    /* color: #03053A; */
}

.nav-container .loging div:nth-child(2) a {
    color: #FFFFFF;
}


/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    /* margin-top: .625rem; */
    padding-left: 1.25rem;
    height: 3.125rem;
    padding-bottom: .375rem;
    cursor: pointer;
}

.u_info>div:nth-child(1) {
    display: flex;
    align-items: center;
    height: 100%;
}

.u_info>div:nth-child(1)>.u_info_img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: .3125rem;
}

.u_info>div:nth-child(1)>.u_info_img img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.u_info>div:nth-child(1)>P {
    display: inline-block;
    color: #03053A;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -2.5125rem;
    left: -0.5625rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: #F5F7FE;
    box-shadow: 0px 0px 10px 0px rgba(11, 32, 64, 0.1);
    border-radius: 2px;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang-SC", "syht";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 1.0625rem .875rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.75rem;
}

.u_info_content .u_out:hover {
    /* background: #f0f7fe; */
    background: #fff;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fff;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}