/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(246, 246, 246, 1) inset;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }


}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }


}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }


}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }



}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }



}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }


}

body {
    background: rgba(245, 249, 255, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

input,
button,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(224, 224, 224, 1) !important;
}




/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/xinwenzixunbanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-left: 4rem;
    padding-top: 7.8rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}


/* 内容主体部分 */
.content-box {
    padding-top: 2.0625rem;
    margin-bottom: 4.125rem;
}

/* 面包屑导航 */
.bread-crumbs {
    margin-bottom: 2.0625rem;
    color: #999999
}

.bread-crumbs b {
    font-weight: 400;
    color: #999999;
}

.bread-crumbs a:hover {
    color: rgba(64, 145, 255, 1);
    cursor: pointer;
}

.bread-crumbs b:last-child {
    color: rgba(64, 145, 255, 1)
}

/* 资讯列表 */
.information-list {
    padding: 3.3125rem;
    background: rgba(255, 255, 255, 1);
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 热搜 */
.hotWord {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.hotWord .bgHot {
    padding-top: .3125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.hotWord .bgHot>span {
    padding-top: .3125rem;
    white-space: nowrap;
    margin-right: 1.25rem;
    color: #4091FF;
    font-size: .875rem;
}

.hotWord ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hotWord ul li {
    box-sizing: border-box;
    white-space: nowrap;
    height: 1.625rem;
    font-size: .875rem;
    padding: 0 1.3125rem;
    background: #f6f6f6;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    margin-right: 1.25rem !important;
    cursor: pointer;
    font-size: .875rem;
    color: #333;
    margin-bottom: .625rem;
    line-height: 1.625rem;
    text-align: center;
    position: relative;
}
.bgHot ul li:hover {
    background: #E8F1FF;
    color: #4091FF;

}
.hotWord ul li>span:nth-of-type(1){
    margin-right: .3125rem;
}

.hotWord ul li .close {
    display: none;
    position: absolute;
    color: #fff;
    top: 0;
    right: .375rem;
    /* -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;  */
}

/* .hotWord ul li .close:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg); } */

.chosen {
    background: #4091FF !important;
    color: #fff !important;
}
.chosen .close{
    display: block!important;
}

.hotwords {
    background: #F75236 !important;
    color: #fff !important;
}

/* 搜索 */

.search-box {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: .1875rem;
    /* padding-top: 1rem; */
}

.search-box input {
    width: 13.75rem;
    height: 2rem;
    background: rgba(246, 246, 246, 1);
    border-radius: .1875rem 0px 0px .1875rem;
    border: 0;
    padding: 0;
    padding-left: 1.5rem;
}

/* .search-box>div::after {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: .625rem;
    width: .875rem;
    height: .875rem; */
/* background: url('../images/guanbi.png') no-repeat 100% 100%; */
/* cursor: pointer;
} */



.search-box>div {
    position: relative;
    width: 3.75rem;
    height: 2rem;
    background: rgba(64, 145, 255, 1);
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(245, 249, 255, 1);
    border-radius: 0px 0.1875rem 0.1875rem 0px;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.search-box>span {
    position: absolute;
    top: 0.375rem;
    right: 4.375rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/guanbi.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


/* 资讯内容部分 */
.tabs-items {
    display: none;
    padding: 4rem .625rem 0 .625rem;
}

.show {
    display: block;
}

.tabs-items ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 4.6875rem;
    cursor: pointer;
}

.tabs-items ul li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.tabs-items-img {
    position: relative;
    width: 15.625rem;
    height: 9.375rem;
    overflow: hidden;
}

.tabs-items-img img {
    width: 100%;
    height: 100%;
}

.tabs-items ul li:hover .tabs-items-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.tabs-items-content {
    width: 48.125rem;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tabs-items-content-title {
    display: flex;
    justify-content: space-between;
    /* height: 1.125rem; */
    font-size: 1.125rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(25, 38, 60, 1);
    /* padding-top: .8125rem; */
    /* margin-bottom: 1.5rem; */
}

.tabs-items-content-title>p {
    /* line-height: 1.125rem; */
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
}

.tabs-items-content-text {
    /* height: 2.625rem; */
    font-size: .75rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    /* margin-bottom: 1.625rem; */
}

.tabs-items-content-text p {
    /* line-height: 1.3125rem; */
    font-size: .875rem;
    line-height: 1.4;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    -o-line-clamp: 2;
    -o-box-orient: vertical;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.tabs-items-content-time {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    width: 136px;
}


.tabs-items-content-time span:nth-child(1) {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .625rem;
}

.tabs-items-content-time span:nth-child(1) img {
    display: block;
    width: 100%;
    height: 100%;
}

.tabs-items-content-time span:nth-child(2) {
    font-size: .75rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.tabs-items-content-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabs-items-content-label>span {
    padding: 3px 13px;
    background: rgba(245, 245, 245, 1);
    border-radius: 4px;
    font-size: .75rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-right: 1.25rem;
}

.tabs-items-content-label>span:last-child {
    margin-right: 0;
}

.tabs-items .more-btn {
    width: 23.125rem;
    height: 3rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(64, 145, 255, 1);
    border-radius: .1875rem;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(64, 145, 255, 1);
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}




/* .register {
    float: right;
    border: 1px solid #ccc;
    margin-top: .6875rem;
}

.register>a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    width: 5.375rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align: center;

}

.register>span {
    height: 2.125rem;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    right: 5.5rem;
}

.register a {
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
} */