/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(246, 246, 246, 1) inset;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .475rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .175rem !important;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .475rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .175rem !important;
    }
}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .8375rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .475rem 0 0 0rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .175rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .175rem !important;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: .5375rem 0 0 1.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 1.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }

}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }

}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(1) {
        padding: 1.0375rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div:nth-child(2) {
        padding: .875rem 0 0 2.375rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(1) {
        margin-bottom: .675rem !important;
    }

    .bottom-left>div>.bottom-item2 div p:nth-child(2) {
        margin-bottom: .675rem !important;
    }
}

body {
    background: rgba(245, 249, 255, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

input,
button,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1) !important;
}

/* nav部分 */


/*.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background: rgba(24, 24, 24, 1);
    z-index: 999;
}

.nav-container {
    height: 5rem;
    padding-top: 1.25rem;
}

.nav-container .logo {
    float: left;
    width: 7.75rem;
    height: 3.375rem;
    margin-top: 0.3125rem;
    margin-left: 1.25rem;
}

.nav-container .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-container h1 {
    height: 100%;
    margin: 0;
}

.nav-container h1 img {
    width: 100%;
}

.nav-container .nav {
    height: 100%;
    float: left;
    margin-left: 10rem;
}

.nav-container .nav ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 1.25rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    margin-right: 2.625rem;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    !*height: 100%;*!
    font-size: 1.25rem;
    font-family: "PingFang SC";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.nav-active {
    position: relative;
}

.nav-active a {
    font-size: 1.5rem !important;
}

.nav-active::after {
    position: absolute;
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 60%;
    height: 0.125rem;
    background-color: #fff;
}
.nav-container{
    position:relative;
}
.nav-container .loging {
    float: right;
    margin: .75rem 0 0 .625rem;
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(191, 191, 191, 1);
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}
.register {
    position:absolute;
    top: 1.625rem;
    right:0;
    border: 1px solid #ccc;
    margin-top: .6875rem;
}

.content .register > a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    width: 5.375rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align: center;

}

.register > span {
    height: 2.125rem;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    right: 5.5rem;
}
.nav-container .loging div:nth-child(1) {
    border-right: 0;
    border-radius: 0.25rem 0px 0px 0.25rem;
}

.nav-container .loging div:nth-child(2) {
    border-left: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #fff;
    color: #2F80ED;
}

.nav-container .loging div:nth-child(2) a {
    color: #2F80ED;
}*/


/* nav部分 */

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #FFFFFF;
    z-index: 999;
}

.nav-container {
    padding-top: .625rem;
}

.nav-container .logo {
    float: left;
    width: 7.8125rem;
    height: 2.875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    display: block;
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
}

.nav-container .nav ul {
    list-style: none;
    margin: .9375rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    float: left;
    margin-right: 1.875rem;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.125rem;
    font-family: "PingFang-SC-Medium";
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    color: #03053A;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100% !important;
    height: 4px;
    background-color: #2F80ED;
}

.nav-container .loging {
    float: right;
    margin: .75rem 0 0 4.375rem;
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(191, 191, 191, 1);
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #fff;
    color: #2F80ED;
}

.nav-container .loging div:nth-child(2) a {
    color: #2F80ED;
}

.enterprise-portal {
    float: left;
    width: 7.5rem;
    height: 2.625rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.625rem;
    margin-top: .625rem;
    cursor: pointer;
}

.enterprise {
    color: #fff;
}



/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    margin-top: 1.0625rem;
    padding-left: 1.25rem;
    height: 5rem;
    cursor: pointer;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -12px;
    left: -0.5625rem;
    background-color: pink;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0.625rem 0px rgba(11, 32, 64, 0.1);
    border-radius: .125rem;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 1.0625rem 0.875rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.75rem;
}

.u_info_content .u_out:hover {
    background: #f0f7fe;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fffF;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}

/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/xinwenzixunbanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-top: 7.8rem;
    text-align: left;

}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}


/* 内容主体部分 */
.content-box {
    padding-top: 2.0625rem;
    margin-bottom: 4.125rem;
}

/* 面包屑导航 */
.bread-crumbs {
    margin-bottom: 2.0625rem;
    color: #999999
}

.bread-crumbs b {
    font-weight: 400;
    color: #999999;
}

.bread-crumbs a:hover {
    color: rgba(64, 145, 255, 1);
    cursor: pointer;
}

.bread-crumbs b:last-child {
    color: rgba(64, 145, 255, 1)
}

/* 资讯列表 */
.information-list {
    padding: 3.3125rem;
    background: rgba(255, 255, 255, 1);
}

/* .tabs {
    border-bottom: 1px solid rgba(245, 245, 245, 1)
} */

/* .tabs ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.tabs ul li {
    position: relative;
    padding: 1.25rem 0;
    margin-right: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    cursor: pointer;
}

.tabs ul li:last-child {
    margin-right: 0;
}

.tabs ul .li-active {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(64, 145, 255, 1);
}

.tabs ul .li-active a {
    color: rgba(64, 145, 255, 1);
}

.tabs ul .li-active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: .125rem;
    background: rgba(64, 145, 255, 1);

} */

.search-box {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: .1875rem;
    padding-top: 1rem;
}

.search-box input {
    width: 13.75rem;
    height: 2rem;
    background: rgba(246, 246, 246, 1);
    border-radius: .1875rem 0px 0px .1875rem;
    border: 0;
    padding: 0;
    padding-left: 1.5rem;
}

/* .search-box>div::after {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: .625rem;
    width: .875rem;
    height: .875rem; */
/* background: url('../images/guanbi.png') no-repeat 100% 100%; */
/* cursor: pointer;
} */



.search-box>div {
    position: relative;
    width: 3.75rem;
    height: 2rem;
    background: rgba(64, 145, 255, 1);
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(245, 249, 255, 1);
    border-radius: 0px 0.1875rem 0.1875rem 0px;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.search-box>span {
    position: absolute;
    top: 1.375rem;
    right: 4.375rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/guanbi.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


/* 资讯内容部分 */
.tabs-items {
    display: none;
    padding: 4rem .625rem 0 .625rem;
}

.show {
    display: block;
}

.tabs-items ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 4.6875rem;
    cursor: pointer;
}

.tabs-items ul li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.tabs-items-img {
    position: relative;
    width: 15.625rem;
    height: 9.375rem;
    overflow: hidden;
}

.tabs-items-img img {
    width: 100%;
    height: 100%;
}

.tabs-items ul li:hover .tabs-items-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.tabs-items-content {
    width: 48.125rem;
    border-bottom: 1px solid #F5F5F5;
}

.tabs-items-content-title {
    height: 1.125rem;
    font-size: 1.125rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(25, 38, 60, 1);
    padding-top: .8125rem;
    margin-bottom: 1.5rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    -o-line-clamp: 1;
    -o-box-orient: vertical;
    -ms-line-clamp: 1;
    -ms-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.tabs-items-content-title p {
    line-height: 1.125rem;
}

.tabs-items-content-text {
    height: 2.625rem;
    font-size: .75rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-bottom: 1.625rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    -o-line-clamp: 2;
    -o-box-orient: vertical;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.tabs-items-content-text p {
    line-height: 1.3125rem;
}

.tabs-items-content-time {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}


.tabs-items-content-time span:nth-child(1) {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .625rem;
}

.tabs-items-content-time span:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.tabs-items-content-time span:nth-child(2) {
    font-size: .75rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.tabs-items .more-btn {
    width: 23.125rem;
    height: 3rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(64, 145, 255, 1);
    border-radius: .1875rem;
    margin: 0 auto;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(64, 145, 255, 1);
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

/* 底部 */
.bottomBox {
    background: #323c48;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottomBox .bottom {
    color: #dcdcdc;
}

.bottomBox .bottom .aboutUs {
    padding-top: 5.25rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .aboutUs span {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #fff;
    font-family: Source Han Sans CN;
    font-weight: 500;
}

.bottomBox .bottom .aboutUs p {
    margin-top: 2.125rem;
    line-height: 1.75rem;
    vertical-align: top;
}

.bottomBox .bottom .navBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.75rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .navBottom .navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bottomBox .bottom .navBottom .navList dl {
    margin-right: 6.25rem;
}

.bottomBox .bottom .navBottom .navList dl dt {
    cursor: default;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-family: "Noto Sans SC";
    margin-bottom: 3.25rem;
}

.bottomBox .bottom .navBottom .navList dl dd {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl dd a {
    display: block;
    color: rgba(220, 220, 220, 0.5);
    /* color: #dcdcdc; */
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(1) a:hover,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(2) a:hover {
    color: rgba(220, 220, 220, 1);
    cursor: pointer;

}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(3) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(4) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) a {
    color: rgba(220, 220, 220, 0.5);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) {
    margin: 0;
}

.bottomBox .bottom .navBottom .navList dl:nth-child(2) dd:nth-of-type(1) a:hover,
.bottomBox .bottom .navBottom .navList dl:nth-child(2) dd:nth-of-type(2) a:hover,
.bottomBox .bottom .navBottom .navList dl:nth-child(2) dd:nth-of-type(3) a:hover {
    color: rgba(220, 220, 220, 1);
    cursor: pointer;
}

.bottomBox .bottom .navBottom .navList dl:nth-child(2) dd:nth-of-type(4) a:hover {
    color: rgba(220, 220, 220, 0.5);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:nth-child(3) dd,
.bottomBox .bottom .navBottom .navList dl:nth-child(4) dd {
    color: rgba(220, 220, 220, 0.5);
    /* color: #dcdcdc; */
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:last-child {
    margin: 0;
}

.bottomBox .bottom .navBottom .qrCode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.bottomBox .bottom .navBottom .qrCode li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottomBox .bottom .navBottom .qrCode li .pic {
    width: 6.25rem;
    height: 6.25rem;
}

.bottomBox .bottom .navBottom .qrCode li .pic img {
    width: 100%;
    height: 100%;
}

.bottomBox .bottom .navBottom .qrCode li span {
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 1.875rem;
    margin-bottom: .75rem;
}

.bottomBox .bottom .navBottom .qrCode li span img {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: .375rem;
}

.bottomBox .bottom .navBottom .qrCode li i {
    font-size: .75rem;
    font-style: normal;
    color: #fff;
}

.bottomBox .bottom .navBottom .qrCode li:first-child {
    margin-right: 1.625rem;
}

.bottomBox .copyRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
    line-height: .875rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem 0;
    color: #C3C3C3;
}


/* 返回顶部 */
/* bottom资讯 */
.bottom-left {
    position: fixed;
    right: 0;
    bottom: 2.5rem;
    z-index: 1000;
}

.bottom-left>div:nth-child(1),
.bottom-left>div:nth-child(2) {
    position: relative;
    width: 2.875rem;
    height: 10rem;
}

.bottom-left>div:nth-child(1) {
    margin-bottom: 10px;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
}

.bottom-left>div:nth-child(2) {
    background: #2E2E46;
}

.bottom-left>div .bottom-title,
.bottom-left>div .bottom-title2 {
    /* line-height: 5rem; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    width: 2.875rem;
    height: 10rem;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 1.375rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.bottom-left>div .bottom-title2 {
    background: #272939;
}

.bottom-left>div>.bottom-item,
.bottom-left>div>.bottom-item2 {
    position: absolute;
    right: -12.5rem;
    /* right: 12.5rem; */
    top: 0;
    width: 12.5rem;
    height: 10rem;
    transition: all 0.5s;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-left>div>.bottom-item {
    padding-top: .625rem;
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
}

.bottom-left>div>.bottom-item .hqy {
    padding-left: 2rem;
    /* width: 3.3925rem; */
    height: 1.5rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5rem;
    margin-bottom: .425rem;
}

.bottom-left>div>.bottom-item .hqy a {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #fff;
}

/* .bottom>div>.bottom-item ul {
    background: linear-gradient(0deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
} */

.bottom-left .bottom-item ul {
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.6rem; */
}

.bottom-left .bottom-item ul li {
    float: left;
    /* width: 3.375rem; */
    height: 1.6875rem;
    line-height: 1.6875rem;
    padding-left: 2rem;
    margin-bottom: .875rem;

}

.bottom-left .bottom-item ul li a {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.bottom-left>div>.bottom-item2 {
    padding: 0 8px;
    background-color: #000;
}

.bottom-left>div>.bottom-item2 div {
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-left>div>.bottom-item2 div:nth-child(2) {
    padding: .875rem 0 0 2.375rem;
}

.bottom-left>div>.bottom-item2 div:nth-child(1) {
    padding: 1.0375rem 0 0 2.375rem;
    border-bottom: 1px solid #fff;
}

.bottom-left>div>.bottom-item2 div p:nth-child(1) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: .675rem;
}

.bottom-left>div>.bottom-item2 div p:nth-child(2) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: .875rem;
}

.bottom-left>div:hover .bottom-item,
.bottom-left>div:hover .bottom-item2 {
    right: 3.1rem;
}

.bottom-left-item2 {
    background: url('../images/consultation.png') no-repeat;
    background-size: 100% 100%
}

/* 返回顶部 */

.bottom-left>div:nth-child(3).goTop {
    width: 2.875rem;
    height: 3.5rem;
    text-align: center;
    z-index: 999;
    background-color: #272939;
    padding-top: .625rem;
    display: none;
    cursor: pointer;
    margin-top: .625rem;
    padding-top: .625rem;
}

.goTop div:nth-child(1) {
    width: 1.375rem;
    height: 1.375rem;
    margin: 0 auto;
    margin-bottom: .375rem;
}

.goTop div:nth-child(1) img {
    width: 100%;
}

.goTop div:nth-child(2) {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}



.register {
    float: right;
    border: 1px solid #ccc;
    margin-top: .6875rem;
}

.register>a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    width: 5.375rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align: center;

}

.register>span {
    height: 2.125rem;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    right: 5.5rem;
}

.register a {
    font-size: 1rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}