.w {
    width: 1200px;
    margin: 0 auto;
}

/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #DDD;

    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../images/selectimg.png") no-repeat scroll right center transparent;
    background-size: 16px 10px;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 20px;
    padding-left: 5px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}

input,
button,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}


.login_header {
    /* position:relative; */
    width: 100%;
    height: 1080px;
    background-size: 100% 100%;

}

.header {
    /* position:absolute;
    top:0;
    left:0; */
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 1);
}

.header_content {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 0 0px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}

.header_content .logo {
    width: 192px;
    height: 52px;
    background-image: url('../images/logo22.png');
}

.header_content .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header_content .a_href {
    padding-top: 26px;
    box-sizing: border-box;
}

.header_content .a_href a {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(68, 139, 255, 1);
}

.login_content {
    width: 100%;
    height: 980px;
    /* background-image: url('../images/login.jpg');
    background-size: 100% 100%; */
    background: url('../images/login.jpg') no-repeat 100% 100%;
}

.login_xin {
    width: 640px;
    height: 700px;
    margin: 0 auto;
    padding-top: 90px;
    box-sizing: border-box;
}

.login_box {
    width: 640px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: -2px 0px 10px 0px rgba(44, 44, 44, 0.1);
    border-radius: 4px;
    /* padding: 59px 130px 56px 130px; */
    box-sizing: border-box;
    margin: 0 auto;
}

.login_box .login_title {
    width: 348px;
    height: 84px;
    font-size: 24px;
    background: url('../images/biaodanbeijing.png') no-repeat;
    margin: 0 auto;
    transform: translateY(-29%);
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 84px;

    /* color: rgba(47, 128, 237, 1); */
    color: #fff;
    text-align: center;
}

.change_style {
    /* margin: 45px 77px 91px 75px; */
    margin-top: 100px;

}

.account {
    color: rgba(153, 153, 153, 1);
}

.account_login {
    width: 96px;
    height: 24px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
    margin-right: 30px;
    cursor: pointer;
}


.ge {
    display: inline-block;
    width: 2px;
    height: 16px;
    margin-bottom: -2px;
    background: rgba(77, 77, 77, 1);
}

.phone {
    width: 96px;
    height: 24px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
    margin-left: 30px;
    cursor: pointer;
}

.active {
    color: rgba(47, 128, 237, 1);
}

.user_info {
    position: relative;
    margin-top: 91px;
}

.phone_user {
    /* position: absolute;
    top: 0;
    left: 0; */
}

.phone_user:nth-child(1) {
    display: none;
}

.phone_box,
.code_box {
    display: flex;
    align-items: center;
    width: 420px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(194, 194, 194, 1);
    border-radius: 2px;
    line-height: 48px;
}

.select {
    position: relative;
    width: 74px;
    height: 48px;
    outline: none;
    border: none;
    margin-right: 24px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    padding-left: 15px;
    vertical-align: top;
}

select::-ms-expand {
    display: none;
}

.phone_box i,
.code_box i {
    width: 2px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
}

.phone_input {
    position: relative;
    height: 46px;
    flex: 1;
    padding-left: 15px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.code_box {
    margin-top: 42px;
}

.code_input {
    position: relative;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    padding-left: 17px;
    box-sizing: border-box;
    width: 208px;
    height: 48px;
}


.huo_code {
    cursor: pointer;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(47, 128, 237, 1);
    line-height: 30px;
    margin-left: 62px;
    box-sizing: border-box;
}

.goRegister {
    margin-top: 25px;
    text-align: right;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.phone_user button {
    width: 320px;
    height: 56px;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    opacity: 0.96;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    cursor:pointer;

}

.goRegister a {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #2F80ED
}

/* 账号登陆 */
.accout_name,
.password {
    display: flex;
    align-items: center;
    width: 420px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(194, 194, 194, 1);
    border-radius: 2px;
    padding-left: 15px;
    box-sizing: border-box;
}

.userName,
.u_pass {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.userName::after,
.u_pass::after {
    position: absolute;
    right: 0;
    top: 14px;
    content: '';
    width: 2px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
}

.accout_input,
.pass_input {
    width: 309px;
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    border: none;
    outline: none;
}

.password {
    margin-top: 42px;
}

/* 下拉框 */
.phone_box {
    /* position: relative; */
}

#main {
    /* position: absolute;
    top: 0;
    left: 0; */
    position: relative;
    width: 100px;
    margin-right: 10px;
}

#content {
    padding-left: 10px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

#selectImg {
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
}

#selectItem {
    display: none;
    border: 1px solid #eee;
}

#selectItem ul {
    list-style: none;
}

#selectItem ul li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

#selectItem ul li:hover {
    background-color: #f5f7fa;
}