/* 版心 */

.w {
    width: 100%;
    margin: 0 auto;
}

.m {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}

.clearfix {
    *zoom: 1;
}

/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }
}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    background: #F4F4F4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

input,
button,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(224, 224, 224, 1) !important;
}

/* nav部分 */


.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 3.75rem;
    background: rgba(3, 28, 54, 1);

}

.header_content {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    height: 3.75rem;
    /* display: flex;
    justify-content: space-between; */
    /* padding: 1rem 0 .6875rem 0; */
    line-height: 3.75rem;
}

.logo {
    float: left;
    margin-left: .75rem;
    margin-top: 1rem;
    width: 8.5rem;
    height: 2.06rem;
    background-image: url('../images/logoo.png');
    background-size: 100% 100%;
}

.logo a {
    display: block;
    width: 100%;
    /*height: 100%;*/
}

.titile {
    float: left;
    list-style: none;
    /* padding: .625rem 4.125rem 0 4.125rem; */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* margin: 0px 0px 0 129px; */
    /* height: 2.75rem; */
    height: 100%;
    margin-left: 6.4375rem;
}

.titile li {
    height: 100%;
}

.titile li:hover>a {
    position: relative;
    color: #4091FF;
}

.titile li:hover>a::after {
    content: '';
    position: absolute;
    bottom: -0.55rem;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 2px;
    background: #4091FF;
    border-radius: 1px;
}

.titile li:nth-of-type(1) a {
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
}

.titile li:nth-of-type(2) {
    margin: 0 3.375rem 0;
}


.titile li:nth-of-type(4) {
    margin: 0 3.375rem 0;
}

.titile li:nth-of-type(6) {
    margin: 0 3.375rem 0 3.375rem;
}

.titile a {
    /* padding:0 28px; */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.nav-active>a {
    position: relative;
}

.nav-active>a::after {
    content: '';
    position: absolute;
    bottom: -0.55rem;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 110%;
    height: 2px;
    background: #4091FF;
}

.titile li {
    /* position: relative; */
    /* padding-top: .5rem; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.titile li:nth-of-type(1) {
    /* padding-top: 0.5625rem; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.titile :last-child {
    margin-right: 0;
}

.register {
    float: right;
    line-height: 3.75rem;
}

.header_content .register>a {
    text-decoration: none;
    display: inline-block;
    width: 3.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: rgba(0, 105, 179, 1);
    color: #fff;
}

.header_content .register>a:nth-of-type(2) {
    margin-left: 1.125rem;
}

/* 次级菜单 */
.secondary-menu {
    position: absolute;
    left: 50%;
    top: 3.7125rem;
    transform: translateX(-50%);
    /* height: 9.375rem; */
    background: rgba(64, 145, 255, .5);
    z-index: 1;
    /* display: none; */
    transition: all .3s;
    min-width: 65.625rem;
    height: 0;
    overflow: hidden;
}

.two .secondary-menu {
    position: absolute;
    left: 50%;
    top: 3.7125rem;
    transform: translateX(-50%);
    /* height: 9.375rem; */
    background: rgba(64, 145, 255, .5);
    z-index: 1;
    /* display: none; */
    /* display: block; */
    transition: all .3s;
    height: 0;
    overflow: hidden;
    /* width: 1199px; */
}

.header_content ul>li:hover .secondary-menu {
    /* top: 6rem; */
    /* display: block; */
    height: 9.375rem;
}

.secondary-menu>div:nth-child(1) {
    /* padding: .625rem 4.125rem 0 4.125rem; */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}

.secondary-menu>div:nth-child(1) dl {
    /* float: left;
    margin-right: 3.8rem */
}

.secondary-menu>div:nth-child(1) dl:last-child {
    margin-right: 0;
}

.secondary-menu>div:nth-child(1) dl dt a {
    font-size: 1.375rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 3.8125rem;
}

.secondary-menu>div:nth-child(1) dl dd {
    font-size: .875rem;
    font-family: Source Han Sans CN;
    font-weight: 300;
    color: rgba(254, 255, 255, 1);
    line-height: 1.75rem;
}

/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    /*margin-top: .4625rem;*/
    cursor: pointer;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -2.8125rem;
    left: -1.8125rem;
    background-color: pink;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(11, 32, 64, 0.1);
    border-radius: 2px;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.0625rem .875rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    line-height: .75rem;
}

.u_info_content .u_out:hover {
    background: #f0f7fe;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fffF;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}

.main_content {
    width: 100%;
    /* height: 1852px; */
    /* background: rgba(245, 249, 255, 1); */
    background: #ffffff;
}

.content_middle {
    width: 75rem;
    margin: 0 auto;
}





.fourzerofour {
    width: 75rem;
    height: 40.25rem;
    margin: 0 auto;
}

.fourzerofour img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.building {
    margin: 0 auto;
    width: 10.875rem;
    height: 1.875rem;
    margin-top: 3.75rem;
    font-size: 1.875rem;
    color: #4984BD;
}

.goHome {
    text-align: center;

}

.goHome span {
    color: #4984BD;
    font-size: 1.5rem;
    margin-right: 1.75rem;
}

.goHome a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    font-size: 1.5rem;
    padding-bottom: .75rem;
    border-bottom: .0625rem solid #333;
}

.goHome a:hover {
    color: #4984BD;
    border-color: #4984BD;
}

.goHome span i {
    font-style: normal;

}