/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/* 分成120等分 */

html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }
    .difficulty1 li .difficulty1-left>div:nth-child(3){

    }

}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }


}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }


}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #fff;
    z-index: 999;
}

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    /* background: #181818; */
    background: #FFFFFF;
    z-index: 999;
}

.nav-container {
    padding-top: .625rem;
}

.nav-container .logo {
    float: left;
    width: 7.8125rem;
    height: 2.875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    display: block;
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
}

.nav-container .nav ul {
    list-style: none;
    /* margin: .9375rem 0 0 0; */
    margin: .7875rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    float: left;
    margin-right: 1.875rem;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.125rem;
    font-family: "PingFang-SC-Medium";
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    color: #03053A;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    bottom: -0.8375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100% !important;
    height: 4px;
    background-color: #2F80ED;
}

.nav-container .loging {
    float: right;
    margin: .75rem 0 0 4.375rem;
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(191, 191, 191, 1);
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #fff;
    color: #2F80ED;
}

.nav-container .loging div:nth-child(2) a {
    color: #2F80ED;
}

.enterprise-portal {
    float: left;
    width: 7.5rem;
    height: 2.625rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.625rem;
    margin-top: .625rem;
    cursor: pointer;
}

.enterprise {
    color: #fff;
}


/* 头部部分 */

.header-box {
    margin-top: 3.75rem;
    height: 23.75rem;
    background: url('../images/chanpingfuwubanner.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.header-box .header {
    padding-top: 7.8rem;
    text-align: left;

}

.header-box .header div:nth-of-type(1) {
    font-size: 3rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.625rem;
}

.header-box .header div:nth-of-type(2) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(1) {
    font-size: 1.125rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
}

/* 面包屑 */

.crumbs {
    background-color: #F5F9FF;
    height: 5rem;
    line-height: 5rem;
}

.crumbs-box {
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b {
    font-weight: 400;
    color: #4091FF
}

.crumbs-box b a {
    color: rgba(153, 153, 153, 1);
}

.crumbs-box b a:hover {
    color: #4091FF
}

/* 共享经济平台 */
.serves-box {
    height: 41.5625rem;
    background-color: #fff;
}

.serves {
    height: 41.5625rem;
    padding-top: 6.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.serves-title {
    position: relative;
    width: 30.5rem;
    height: 4.375rem;
    background: url('../images/cqfwserves.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.serves-title>h2 {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 2.625rem;
    font-family: Alibaba-PuHuiTi-R, Alibaba-PuHuiTi;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.serves-title-content {
    margin-bottom: 4.875rem;
}

.serves-title-content p {
    text-align: center;
    /* width:818px;
    height:82px; */
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.serves-title-img {
    width: 39.25rem;
    height: 23.125rem;
    margin: 0 auto;
}

.serves-title-img img {
    display: block;
    width: 100%;
    height: 100%;
}




/* 合作平台化-运营高效化 */

.difficulty-box {
    height: 61.875rem;
    background: url('../images/platform.png') no-repeat;
    background-size: 100% 100%;
}

.difficulty1 {
    padding-top: 10.625rem;

}

.difficulty1 ul {
    width: 78.125rem;
}

.difficulty1 ul li {
    float: left;
    width: 36.25rem;
    height: 20rem;
    margin-right: 2.5rem;
    margin-bottom: 3.125rem;
    padding-right: 8.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.difficulty1 ul li .difficulty1-left {
    height: 100%;
    background-color: #fff;
    border-left: .6875rem solid #2F80ED;
    padding-left: 1.75rem;
}

.difficulty1 li .difficulty1-left>div:nth-child(1) {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    height: 5.4375rem;

}

.difficulty1 li .difficulty1-left>div:nth-child(1) span {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 4px;
}

.difficulty1 li .difficulty1-left>div:nth-child(1) span img {
    display: block;
    width: 100%;
    height: 100%;
}

.difficulty1 li .difficulty1-left>div:nth-child(1) P {
    font-size: 1.5rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);

}

.difficulty1 li .difficulty1-left>div:nth-child(2) {
    width: 9.5rem;
    height: 1px;
    background: rgba(47, 128, 237, 1);
    margin-left: .25rem;
    margin-bottom: 1.5rem;
}

.difficulty1 li .difficulty1-left>div:nth-child(3) {
    width: 13.875rem;
    height: 11.25rem;
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 2;

}

.difficulty1-items {
    position: relative;
}

.difficulty1-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 17.5rem;
    height: 17.5rem;

}

.difficulty1-right img {
    display: block;
    width: 100%;
    height: 100%;
}

.difficulty-box2 {
    height: 14.75rem;
    background: #F5F6FE;
    background-image: url('../images/difficulty-box2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.difficulty-box2-content {
    padding-top: 2.6875rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.difficulty-box2-content>div:nth-child(1) {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1.25rem;
}

.difficulty-box2-content>div:nth-child(1) img {
    display: block;
    width: 100%;
    height: 100%;
}

.difficulty-box2-content>div:nth-child(2) {
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5;
}


/* 平台服务流程 */

.project-box {
    height: 43.75rem;
    background: url('../images/pingTaiFuLiuCheng.png') no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

.project-box .project {
    padding-top: 5.625rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.project-title {
    position: relative;
    width: 30.5rem;
    height: 4.375rem;
    background: url('../images/pingTaiFuLiuChengTitle.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.project-title>h2 {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 2.625rem;
    font-family: Alibaba-PuHuiTi-R, Alibaba-PuHuiTi;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}


.project-title-content {
    margin-bottom: 4.875rem;
}

.project-title-content p {
    text-align: center;
    /* width:818px;
    height:82px; */
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.project-content-img {
    width: 64.125rem;
    height: 12rem;
    margin: 0 auto;
}

.project-content-img img {
    display: block;
    width: 100%;
    height: 100%;
}


/* 客户应用场景 */
.reason-box {
    /* height: 75rem; */
    background: #fff;
}


.reason-box .reason {
    padding-top: 5.625rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.reason-title {
    position: relative;
    width: 30.5rem;
    height: 4.375rem;
    background: url('../images/pingTaiFuLiuChengTitle.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.reason-title>h2 {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 2.625rem;
    font-family: Alibaba-PuHuiTi-R, Alibaba-PuHuiTi;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.reason-title-content {
    margin-bottom: 4.875rem;
}

.reason-title-content p {
    text-align: center;
    /* width:818px;
    height:82px; */
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.reason-content {
    padding-bottom: 3.75rem
}

.reason-content ul {
    width: 78.125rem;
}

.reason-content li {
    float: left;
    width: 16.6875rem;
    height: 22.25rem;
    margin-right: 2.75rem;
    margin-bottom: 2rem;
    background: #F5F5F5;
}

.reason-content-img {
    height: 11.5rem;

}

.reason-content-img img {
    display: block;
    width: 100%;
}

.reason-content-text {
    padding: 1.875rem 2.0625rem 0 2.0625rem;
    text-align: center;
}

.reason-content-text h3 {
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: .9375rem;
}

.reason-content-text p {
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 2;
}

/* 联系我们 */
.cellme-box {
    height: 40rem;
    background: url('../images/cellme.png') no-repeat;
    background-size: 100% 100%;
}

.cellme {
    position: relative;
    height: 100%;
}

.cellme>div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6.75rem;
    width: 28.4375rem;
    height: 5.125rem;
    background: linear-gradient(135deg, rgba(124, 219, 249, 1) 0%, rgba(47, 128, 237, 1) 100%);
    border-radius: 4px;
    font-size: 1.75rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 5.125rem;
    text-align: center;
    cursor: pointer;
}


/* 底部 */
.bottomBox {
    background: #323c48;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottomBox .bottom {
    color: #dcdcdc;
}

.bottomBox .bottom .aboutUs {
    padding-top: 5.25rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .aboutUs span {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #fff;
    font-family: Source Han Sans CN;
    font-weight: 500;
}

.bottomBox .bottom .aboutUs p {
    margin-top: 2.125rem;
    line-height: 1.75rem;
    vertical-align: top;
}

.bottomBox .bottom .navBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4.75rem;
    border-bottom: 1px solid #7a7a7a;
}

.bottomBox .bottom .navBottom .navList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bottomBox .bottom .navBottom .navList dl {
    margin-right: 6.25rem;
}

.bottomBox .bottom .navBottom .navList dl dt {
    cursor: default;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-family: "Noto Sans SC";
    margin-bottom: 3.25rem;
}

.bottomBox .bottom .navBottom .navList dl dd {
    margin-bottom: 1.875rem;
    font-size: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl dd a {
    display: block;
    color: #dcdcdc;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(3) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(4) a,
.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:first-child dd:nth-of-type(5) {
    margin: 0;
}

.bottomBox .bottom .navBottom .navList dl:nth-child(3) dd a {
    color: rgba(220, 220, 220, 0.3);
    cursor: default;
}

.bottomBox .bottom .navBottom .navList dl:last-child {
    margin: 0;
}

.bottomBox .bottom .navBottom .qrCode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.bottomBox .bottom .navBottom .qrCode li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottomBox .bottom .navBottom .qrCode li .pic {
    width: 6.25rem;
    height: 6.25rem;
}

.bottomBox .bottom .navBottom .qrCode li .pic img {
    width: 100%;
    height: 100%;
}

.bottomBox .bottom .navBottom .qrCode li span {
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 1.875rem;
    margin-bottom: .75rem;
}

.bottomBox .bottom .navBottom .qrCode li span img {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: .375rem;
}

.bottomBox .bottom .navBottom .qrCode li i {
    font-size: .75rem;
    font-style: normal;
    color: #fff;
}

.bottomBox .bottom .navBottom .qrCode li:first-child {
    margin-right: 1.625rem;
}

.bottomBox .copyRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
    line-height: .875rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.125rem 0;
    color: #C3C3C3;
}



/* 返回顶部 */

.goTop {
    position: fixed;
    bottom: 6.25rem;
    right: 8.4375rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    z-index: 999;
    /* float: right; */
    /* background-color: red; */
    background-color: #fff;
    display: none;
    padding-top: 0.4375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.goTop i {
    overflow: hidden;
    /* float: right; */
    display: inline-block;
    width: 2.1875rem;
    height: 2.5625rem;
    background-size: contain;
    background-image: url('../images/goback.png');
    margin-bottom: .2875rem;
}

.goTop div {
    font-size: .875rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}


/* 弹出框 */

.pop-up-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    z-index: 9999;
}

.pop-up-box .form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 37.5rem;
    height: 35.625rem;
}

.form-titile {
    position: relative;
    height: 7.5rem;
    background: url('../images/tanchuang2x.png') no-repeat;
}

.turnoff {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/guanbi2x.png') no-repeat 100% 100%;
}

.form-titile p {
    position: relative;
    text-align: center;
    font-size: 1.875rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 6.25rem;
}

.form-titile p::after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 1.25rem;
    width: 3.375rem;
    height: 0.25rem;
    background: rgba(255, 255, 255, 1);
}

.form-content {
    padding: 6.1875rem 6.1875rem 0 6.1875rem;
    background: rgba(245, 247, 254, 1);
    border-radius: 0px 0px 4px 4px;
    height: 28.125rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.form-content div {
    height: 2.5rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 2.5625rem;
    line-height: 2.75rem;
}

.form-content div:nth-child(3) {
    margin-bottom: 3.875rem;
}

.form-content div .title {
    display: inline-block;
    width: 6.25rem;
    height: 2.5rem;
    margin-right: 1.25rem;
    font-size: .875rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 2.875rem;
}

.form-content div input {
    width: 25rem;
    padding-left: 1.875rem;
    height: 100%;
    outline: none;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 2px;
}

.form-content .form-btn {
    width: 20rem;
    height: 3.5rem;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    border-radius: 4px;
    font-size: 1.5rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    /* text-align: center; */
    color: rgba(255, 255, 255, 1);
    line-height: 3.75rem;
    padding-left: 7.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* 用户信息 */

.u_info {
    position: relative;
    float: right;
    margin-top: .625rem;
    padding-left: 1.25rem;
    height: 5rem;
    cursor: pointer;
}

.u_info_content {
    display: none;
    width: 5.625rem;
    height: 2.6875rem;
    position: absolute;
    bottom: -12px;
    left: -0.5625rem;
    background-color: pink;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(11, 32, 64, 0.1);
    border-radius: 2px;
}

.u_info_content .u_out {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 1.0625rem .875rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.75rem;
}

.u_info_content .u_out:hover {
    background: #f0f7fe;
    cursor: pointer;
}

.u_info_content::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #fffF;
    border-left: .625rem solid transparent;
}

.u_info:hover .u_info_content {
    display: block
}


/* 提交成果弹出框 */

.mask-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*display: -webkit-box;*/
    /*!* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. *!*/
    /*display: -moz-box;*/
    /*!* 老版本语法: Firefox (buggy) *!*/
    /*display: -ms-flexbox;*/
    /*!* 混合版本语法: IE 10 *!*/
    /*display: -webkit-flex;*/
    /*!* 新版本语法: Chrome 21+ *!*/
    /*display: -webkit-flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;*/
    /*-webkit-flex-direction: column;*/
    /*-moz-flex-direction: column;*/
    /*-ms-flex-direction: column;*/
    /*-o-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-webkit-justify-content: center;*/
    /*-moz-justify-content: center;*/
    /*-ms-justify-content: center;*/
    /*-o-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-align-items: center;*/
    /*-moz-align-items: center;*/
    /*-ms-align-items: center;*/
    /*-o-align-items: center;*/
    /*align-items: center;*/
    width: 16.25rem;
    height: 10rem;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
    border-radius: .75rem;
    display: none;
}

.mask-box span {
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    background: url('../images/success2x.png') no-repeat;
    margin: 1.125rem auto;
}

.mask-box .mask-box-title {
    text-align: center;
    font-size: 1.125rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 1.25rem 0;
}

.mask-box .mask-box-content {
    text-align: center;
    font-size: .875rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}