.w {
    width: 75rem;
    margin: 0 auto;
}

/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
/* 分成120等分 */
html {
    font-size: 16px;
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.666px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #DDD;

    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 20px;
    padding-left: 5px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}

input,
button,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    min-width: 75rem;
}

/* 头部信息 */
.header-box {
    display: flex;
    align-items: center;
    height: 6.25rem;
    background: rgba(255, 255, 255, 1);
}

.header-box .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 15px; */
}

.header .logo {
    width: 12rem;
    height: 3.25rem;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .logo a img {
    display: block;
    width: 100%;
    height: 100%;
}

.header .tohome {
    padding-top: 1.25rem;
}

.header .tohome a {
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(68, 139, 255, 1);
}

/* 表单部分 */
.form-box {
    height: 61.25rem;
    background: url('../images/login.jpg') no-repeat 100% 100%;
}

.form {
    padding-top: 5.625rem;
}

.form-content,
.succeed-box {
    width: 40rem;
    height: 43.75rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: -0.125rem 0px 0.625rem 0px rgba(44, 44, 44, 0.1);
    border-radius: .25rem;
    margin: 0 auto;
    box-sizing: border-box;

}

.form-content {
    /* display: none; */
    /* padding-top: 59px; */
}

/* 注册成功 */
.succeed-box {
    display: none;
}

.succeed-box>.form-content-title {
    display: block;
    width: 21.75rem;
    height: 5.25rem;
    margin: 0px auto;
    transform: translateY(-29%);
    background: url('../images/biaodanbeijing.png') no-repeat;
    font-size: 1.5rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    /* color: rgba(47, 128, 237, 1); */
    color: #fff;
    line-height: 5.25rem;
    text-align: center;
}

.succeed-box>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 0 auto;
    margin-top: -6rem;
    padding-top: .625rem;
}

.succeed-box>div div:nth-child(1) {
    margin-top: 14.375rem;
    text-align: center;
}

.succeed-box>div div:nth-child(1) img {
    margin-bottom: 5.125rem;
}

.succeed-box>div div:nth-child(1) p {
    font-size: 1.875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(47, 128, 237, 1);
    line-height: 1.875rem;
    margin-bottom: 9.375rem;
}

.succeed-box>div div:nth-child(2) {
    width: 20rem;
    height: 3.5rem;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    opacity: 0.96;
    border-radius: .25rem;
    font-size: 1.5rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 3.75rem;
    text-align: center;
    cursor: pointer;
}

.succeed-box>div div:nth-child(2) a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 3.75rem;
    text-align: center;
}

.form-content-title {
    width: 21.75rem;
    height: 5.25rem;
    margin: 0px auto;
    transform: translateY(-29%);
    background: url('../images/biaodanbeijing.png') no-repeat;
    background-size:  100% 100%;
    font-size: 1.5rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    /* color: rgba(47, 128, 237, 1); */
    color: #fff;
    line-height: 5.25rem;
    text-align: center;
    margin-bottom: 2.3125rem;
}

.tabs {
    font-size: 1.125rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
    color: rgba(50, 50, 50, 1);
    margin-bottom: 6.625rem;
}

.tabs .tab:nth-child(1) {
    position: relative;
    margin-right: 3.875rem;
}

.tabs .tab:nth-child(1)::after {
    position: absolute;
    right: -2.375rem;
    top: 50%;
   
    -webkit-transform: translateY(-43%);
    -moz-transform: translateY(-43%);
    -o-transform: translateY(-43%);
    -ms-transform: translateY(-43%);
    transform: translateY(-43%);
    content: '';
    height: 1rem;
    width: .125rem;
    background: rgba(77, 77, 77, 1);
}

.tabs .tab {}

/* table栏选中后的样式 */
.tab-active {
    color: rgba(47, 128, 237, 1);
}



.tabs-item {
    width: 26.25rem;
    margin: 0 auto;
    display: none;
}

.tabs-item-active {
    display: block;
}

.tabs-item-qy .one-box,
.tabs-item-gr .one-box {
    /* display: none; */
}

.tabs-item-qy .one-box div,
.tabs-item-qy .two-box div,
.tabs-item-gr .one-box div,
.tabs-item-gr .two-box div {
    display: flex;
    align-items: center;
    height: 2.875rem;
    width: 26.25rem;
    margin-bottom: 1.875rem;
    padding-left: 1.1875rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(194, 194, 194, 1);
    border-radius: .125rem;
    box-sizing: border-box;
}

.tabs-item-gr .two-box div:nth-child(2) {
    border: 0;
    padding-left: .25rem;
    margin-bottom: .875rem;
    height: auto;
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.tabs-item-gr .two-box div:nth-child(3) {
    padding-left: 0;
    border: 0;
}

.tabs-item-gr .two-box div:nth-child(3) select {
    height: 100%;
    padding-left: 1.0625rem;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    outline: none;
    border: 1px solid rgba(194, 194, 194, 1);
}

.tabs-item-gr .two-box div:nth-child(3) select:nth-child(1) {
    width: 14.375rem;
    margin-right: .75rem;
    background: url('../images/selectimg.png') no-repeat scroll 12.125rem center transparent;
    background-size: 1rem .625rem;
}

.tabs-item-gr .two-box div:nth-child(3) select:nth-child(2) {
    width: 100%;
    background: url('../images/selectimg.png') no-repeat scroll 8.75rem center transparent;
    background-size: 1rem .625rem;
}

.tabs-item-qy .one-box div span,
.tabs-item-qy .two-box div span,
.tabs-item-gr .one-box div span,
.tabs-item-gr .two-box div span {
    width: 5.625rem;
    border-right: 2px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333;
}

.tabs-item-qy .one-box div input,
.tabs-item-qy .two-box div input,
.tabs-item-gr .one-box div input,
.tabs-item-gr .two-box div input {
    padding-left: 1rem;
    flex: .9;
    height: 92%;
}

.tabs-item-qy .one-box div:nth-child(2) span,
.tabs-item-gr .one-box div:nth-child(2) span {
    width: 50%;
    text-align: center;
    border-right: 0;
    color: rgba(47, 128, 237, .8);
    cursor: pointer;
}

.tabs-item-qy .one-box div:nth-child(2) input,
.tabs-item-gr .one-box div:nth-child(2) input {
    width: 50%;
    border-right: 2px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding-left: 0px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1) !important;
}

.tabs-item-qy .one-box div:nth-child(4),
.tabs-item-gr .one-box div:nth-child(4),
.tabs-item-qy .two-box div:nth-child(5) {
    margin-bottom: 1rem;
}

.tabs-item-gr .two-box div:nth-child(4) {
    margin-bottom: 6.875rem;
}

.tabs-item-qy p,
.tabs-item-gr p {
    text-align: right;
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.tabs-item-qy p a,
.tabs-item-gr p a {
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #2F80ED;
}

.tabs-item-qy>.one-box>span,
.tabs-item-qy>.two-box>span,
.tabs-item-gr>.one-box>span,
.tabs-item-gr>.two-box>span {
    display: block;
    width: 20rem;
    height: 3.5rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    opacity: 0.96;
    border-radius: .25rem;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.25rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 3.75rem;
    cursor: pointer;
}

.tabs-item-qy>.two-box>span {
    margin-top: 1.5rem !important;
}

.tabs-item-gr>.two-box>span {
    margin-top: 7.375rem !important;
}

.tabs-item-qy .two-box {
    display: none;
    margin-top: -3.75rem;
}

.tabs-item-gr .two-box {
    display: none;
}