/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
    /* padding: 0 1.875rem;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; */
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/* 分成120等分 */

html {
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 6.66666666666667px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }




}

@media screen and (min-width: 1024px) {
    html {
        font-size: 8.53333333333333px;
    }

    /* 头部占位 */
    .header-box .header {
        padding-top: 6.5rem !important;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.8125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 9.75rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }



    /* 侧边挂框 */

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }




}

@media screen and (min-width: 1152px) {
    html {
        font-size: 9.58333333333333px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.2125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 8.8rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /* 侧边挂框 */

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 1.5rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 1.5rem !important;
    }




}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.6666666666667px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.9125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 9.9rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }




}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.8125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 9.2rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }




}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.5125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 10.4rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }




}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.3125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 10.5rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }




}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.3125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 10.6rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }



}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    /* 头部占位 */
    .header-box .header {
        padding-top: 7.5rem !important;
    }

    .status-industry-wm-item-content p:nth-of-type(1) {
        margin-bottom: 1rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 5.3125rem !important;
    }

    .status-industry-items .status-industry-item .status-industry-item-box2>div>p {
        height: 10.6rem !important;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .bottom-left>div>.bottom-item .hqy {
        padding-left: 2rem !important;
    }

    .bottom-left .bottom-item ul li {
        padding-left: 2rem !important;
    }




}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/* 头部部分 */
.header-box {
    height: 23.75rem;
    background: url('../images/hangyebanner.png') no-repeat;
    background-size: 101% 101%;
    background-position: center center;
    margin-top: 3.75rem;
}

.header-box .header {
    padding-left: 4rem;
    padding-top: 8.5rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header-box .header h2 {
    font-size: 3rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    margin-bottom: 2.625rem
}

.header-box .header p:nth-of-type(1) {
    width: 7.5rem;
    height: 4px;
    background: linear-gradient(-90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    margin-bottom: 2.5rem;
}

.header-box .header p:nth-of-type(2) {
    font-size: 1.125rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}


/* 面包屑 */
.crumbs-box {
    height: 5rem;
    background-color: #F5F9FF;
    line-height: 5rem;
}

.crumbs-box .crumbs b {
    font-weight: 400;
    color: #3284ED;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
}

.crumbs-box .crumbs a {
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}


.crumbs-box .crumbs a:hover {
    color: #3284ED;
}


/* tab栏 */
.tab-box {
    background: #fff;
}

.layui-tab-title {
    height: 3.625rem;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layui-tab-title li {
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    padding: 0;
    margin-right: 2.5rem;
    line-height: 3.625rem;
}

.layui-tab-brief>.layui-tab-title .layui-this {
    color: #4091FF
}

.layui-tab-title .layui-this:after {
    height: 3.625rem;
}

.layui-tab-brief>.layui-tab-title .layui-this:after {
    bottom: 0;
    border-bottom: 2px solid #4091FF;
}

.tab-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100%;
    z-index: 999;
}

/* 制造业 */
.layui-tab-content {
    height: auto !important;
    padding: 0;
}

/* 行业现状 */
/* 制造业 */
.layui-tab-item .status-industry {
    padding-top: 3.5rem;
    margin-bottom: 3.75rem;
}

.layui-tab-item .status-industry .status-industry-title {
    position: relative;
    width: 21.25rem;
    height: 3.375rem;
    margin: 0 auto;
    background: url('../images/zhizaoye-img.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2.0625rem;
}

.layui-tab-item .status-industry .status-industry-title h2 {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2.625rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    text-align: center;
}

.layui-tab-item .status-industry .status-industry-content {
    text-align: center;
    /* width: 60.375rem; */
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 3.75rem;
}

.status-industry-items {
    margin-bottom: 4.375rem;
}

.status-industry-items .status-industry-item {
    width: 25rem;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #D3D4D8;
}


.status-industry-items .status-industry-item:nth-child(2) {
    border-left: 0;
    border-right: 0;
}

.status-industry-items .status-industry-item>.status-industry-item-box1,
.status-industry-items .status-industry-item>.status-industry-item-box2 {
    padding: 3rem 1.875rem 3.1875rem 1.875rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.status-industry-items .status-industry-item .status-industry-item-box2 {
    display: none;
}

.status-industry-items .status-industry-item .status-industry-item-box1>h3,
.status-industry-items .status-industry-item .status-industry-item-box2>h3 {
    font-size: 1.5rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 2.375rem;
}

.status-industry-items .status-industry-item .status-industry-item-box1>div {
    height: 15rem;
}

.status-industry-items .status-industry-item .status-industry-item-box1>div img {
    display: block;
    width: 100%;
}

.status-industry-items .status-industry-item .status-industry-item-box2>div {
    height: 15rem;
    position: relative;
}

.status-industry-items .status-industry-item .status-industry-item-box2>div>p {
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(97, 97, 97, 1);
    line-height: 1.8;
    height: 9.75rem;
    overflow: hidden;
}

.status-industry-items .status-industry-item .status-industry-item-box2>div>div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8.75rem;
    height: 2.5rem;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    border-radius: 1.25rem;
    text-align: center;
    line-height: 2.5rem;

}

.status-industry-items .status-industry-item .status-industry-item-box2>div>div>a {
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.status-industry-items .status-industry-item:hover {
    box-shadow: 0px 0px 12px 0px rgba(38, 40, 49, 0.17);
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.status-industry-items .status-industry-item:hover .status-industry-item-box1 {
    display: none;
}

.status-industry-items .status-industry-item:hover .status-industry-item-box2 {
    display: block
}

/* 外卖行业 */
.status-industry-wm {
    width: 100%;
    height: 28.75rem;
}

.status-industry-wm .status-industry-wm-imgs {
    float: left;
    width: 50%;
    height: 100%;
}

.status-industry-wm .status-industry-wm-imgs img {
    display: none;
    width: 100%;
    height: 100%;
}

.status-industry-wm .status-industry-wm-imgs .wm-img-active {
    display: block;
}

.status-industry-wm-content {
    float: left;
    width: 50%;
    height: 100%;
    background: #F5F7FE;
    border: 0;
    padding: 2.3125rem 3.75rem 0 3.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.status-industry-wm-item {
    margin-bottom: 1.625rem;
}

.status-industry-wm-item:last-child {
    margin-bottom: 0;
}

.status-industry-wm-content .status-industry-wm-item-title {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    height: 3.125rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 1.5625rem;
    border: 0;
    font-size: 1.5rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 3.125rem;
    padding-left: 3.125rem;
    padding-right: 2rem;
}

.status-industry-wm-content .status-industry-wm-item-title .status-btn {
    float: right;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    /* margin: 15px 32px 0 0; */
    background: url(../images/zhankai.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.status-industry-wm-content .status-industry-wm-item-title .status-btnone {
    background: url(../images/shouqi.png) no-repeat;
    background-size: 100% 100%;
}

.status-industry-wm-item-content {
    border: 0;
    padding: 0 1.25rem;
    padding-top: 2.1875rem;
    display: none;
}

.status-industry-wm-item-content p:nth-of-type(1) {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    height: 5.3125rem;
    line-height: 1.4;
}

.status-industry-wm-item-content div:nth-of-type(1) {
    text-align: right;
}

.status-industry-wm-item-content div:nth-of-type(1) span {
    display: inline-block;
    width: 8.75rem;
    height: 2.5rem;
    margin: 0 0 0;
    background: linear-gradient(90deg, rgba(124, 219, 249, 1), rgba(47, 128, 237, 1));
    border-radius: 1.25rem;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
}

.wm-item-show {
    display: block;
}

/* 行业解决方案 */
/* 制造业 */
.layui-tab-item .solution {
    margin-bottom: 4.3125rem;
    padding-top: 4.3125rem;
    padding-bottom: 4.3125rem;
    background: #F5F7FE;
}

.layui-tab-item .solution .solution-title {
    position: relative;
    width: 22.0625rem;
    height: 3.375rem;
    margin: 0 auto;
    background: url('../images/solution-title.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2.0625rem;
}

.layui-tab-item .solution .solution-title>h2 {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2.625rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    text-align: center;
}

.layui-tab-item .solution .solution-content,
.layui-tab-item .solution .solution-footer {
    text-align: center;
    /* width: 44.375rem; */
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8;
    /* margin-bottom: 3.75rem; */
}

.layui-tab-item .solution .solution-content {
    margin-bottom: 3.625rem;
}

.layui-tab-item .solution .solution-flow-chart {
    margin-bottom: 3rem;
}

.solution-flow-chart>div {
    width: 29.3125rem;
    height: 23.125rem;
    margin: 0 auto;
}

.solution-flow-chart>div img {
    display: block;
    width: 100%;
    height: 100%;
}

/* 外卖 */
.solution-flow-wm-chart {
    margin-bottom: 3rem;
}

.solution-flow-wm-chart>div {
    width: 55.25rem;
    height: 13.375rem;
    margin: 0 auto;
}

.solution-flow-wm-chart>div img {
    display: block;
    width: 100%;
    height: 100%;
}

/* 方案优势 */
/* 制造业 */
.layui-tab-item .plan-advantage {
    margin-bottom: 7.5rem;
}

.layui-tab-item .plan-advantage .plan-advantage-title {
    position: relative;
    width: 14.375rem;
    height: 3.3125rem;
    margin: 0 auto;
    background: url('../images/plan-advantage.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 2.0625rem;
}

.layui-tab-item .plan-advantage .plan-advantage-title>h2 {
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.625rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.layui-tab-item .plan-advantage .plan-advantage-content {
    text-align: center;
    width: 44.375rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 3.75rem;
}

.layui-tab-item .plan-advantage .plan-advantage-items ul li {
    float: left;
    width: 33.333333%;
    /* height: 1.9375rem; */
    /* background-color: pink; */
    text-align: center;
    padding: 0 5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plan-advantage-item-img {
    position: relative;
    width: 5.25rem;
    height: 5.25rem;
    margin: 0 auto;
    margin-bottom: 4.25rem;
    z-index: 0;
}

.plan-advantage-item-img img {
    display: block;
    width: 100%;
}

.plan-advantage-item-title {
    font-size: 1.125rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 2rem;
}

.plan-advantage-item-content {
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 1.8;
}

.item-imgbg-active:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 14px 0px rgba(100, 100, 100, 0.11);
    border-radius: 50%;
    z-index: -1;
}


/* 外卖 */
.plan-advantage-wm-items {}

.plan-advantage-wm-items ul {
    width: 75.125rem;
    height: 25rem;
    display: flex;
    align-items: center;
}

.plan-advantage-wm-items .plan-advantage-wm-item {
    /* float: left; */
    width: 25rem;
    height: 25rem;
    background: rgba(245, 247, 254, 1);
    border-radius: 6px;
    transition: all .6s
}

.plan-advantage-wm-items .plan-advantage-wm-item:nth-child(2) {
    margin: 0 1px;
}

.plan-advantage-wm-item-one {
    height: 100%;
    padding-top: 8.9375rem;
    box-sizing: border-box;
    transition: all .6s;
}

.plan-advantage-wm-item-one>div:nth-of-type(1) {
    position: relative;
    width: 5.25rem;
    height: 5.3125rem;
    margin: 0 auto;
    margin-bottom: 2.0625rem;
    z-index: 0;
}

.plan-advantage-wm-item-one>div:nth-of-type(1) img {
    display: block;
    width: 100%;
}

.plan-advantage-wm-item-one>p:nth-of-type(1) {
    text-align: center;
    font-size: 1.25rem;
    font-family: "PingFang-SC", "syht";
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 2.5rem;
}

.plan-advantage-wm-item-one>div:nth-of-type(2) {
    text-align: center;
    font-size: 1rem;
    font-family: "PingFang-SC", "syht";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
    display: none;
    transition: all .6s;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plan-advantage-wm-item:hover {
    height: 28.75rem;
    background-color: #3284ED;
}

.plan-advantage-wm-item:hover .plan-advantage-wm-item-one {
    padding-top: 4.9375rem;
}

.plan-advantage-wm-item:hover .plan-advantage-wm-item-one>div:nth-of-type(1) {
    margin-bottom: 2.75rem;
}

.plan-advantage-wm-item:hover .plan-advantage-wm-item-one>div:nth-of-type(1):after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    z-index: -1;
}

.plan-advantage-wm-item:hover .plan-advantage-wm-item-one>div:nth-of-type(2) {
    display: block;
}

.plan-advantage-wm-item:hover .plan-advantage-wm-item-one>p:nth-of-type(1) {
    color: #fff;
}
