/* 版心 */

.w {
    width: 75rem;
    margin: 0 auto;
    /* padding: 0 1.875rem;
    box-sizing: border-box; */
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/* 分成120等分 */

html {
    font-size: 16px;
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 10.666px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 11.38333333333333px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 13.3333333333px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0
}

ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* nav部分 */

.container {
    min-width: 75rem;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background: #2F80ED;
    z-index: 999;
}

.nav-container {
    padding-top: .75rem;
}

.nav-container .logo {
    float: left;
    width: 5.375rem;
    height: 4.75rem;
}

.nav-container h1 {
    margin: 0;
}

.nav-container h1 img {
    width: 100%;
}

.nav-container .nav {
    float: left;
    margin-left: 11.5rem;
}

.nav-container .nav ul {
    list-style: none;
    margin: 1.875rem 0 0 0;
    padding: 0;
}

.nav-container .nav ul li {
    float: left;
    margin-right: 1.875rem;
}

.nav-container .nav ul li:last-child {
    margin-right: 0;
}

.nav-container .nav ul li a {
    display: block;
    width: 100%;
    /*height: 100%;*/
    font-size: 1.25rem;
    font-family: "PingFang-SC-Medium";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    bottom: -2.1875rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100%!important;
    height: 2px;
    background-color: #fff;
}

.nav-container .loging {
    float: right;
    margin: .75rem 0 0 4.375rem;
}

.nav-container .loging div {
    float: left;
    width: 5.375rem;
    height: 2.375rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(191, 191, 191, 1);
    text-align: center;
    line-height: 2.375rem;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 2.375rem;
    font-size: 1rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}

.nav-container .loging div:nth-child(1) {
    border-right: 0;
    border-radius: .25rem 0px 0px .25rem;
}

.nav-container .loging div:nth-child(2) {
    border-left: 0;
    border-radius: 0 .25rem .25rem 0;
    background-color: #fff;
    color: #2F80ED;
}

.nav-container .loging div:nth-child(2) a {
    color: #2F80ED;
}

.enterprise-portal {
    float: left;
    width: 7.5rem;
    height: 2.625rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 2.625rem;
    margin-top: .625rem;
    cursor: pointer;
}

.enterprise {
    color: #fff;
}



/* 登陆注册 */

.nav-container .loging {
    float: right;
    margin: 1.25rem 0 0 0;
}

.nav-container .loging div {
    float: left;
    width: 3.5rem;
    height: 1.625rem;
    text-align: center;
    line-height: 1.625rem;
    background: url('../images/login-bg.png') no-repeat;
    background-size: 100% 100%;
}

.nav-container .loging div a {
    display: block;
    width: 100%;
    height: 1.625rem;
    font-size: 1rem;
    font-family: 'Source Han Sans CN', "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: #E8341E;
    line-height: 1.625rem;
}

.nav-container .loging div:nth-child(2) {
    margin-left: 1.25rem;
    margin-right: 2.5625rem
}


/* 头像部分 */

.nav-container .user-icon-box {
    position: relative;
    float: right;
    text-align: center;
    height: 3rem;
    margin-top: 1.05rem;
    padding-left: 1.25rem;
    /* margin-right: 2.5625rem; */
    cursor: pointer;
    /* background-color: pink; */
}

.nav-container .user-icon-box .user-icon {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.nav-container .user-icon-box .phone {
    height: 23px;
    display: inline-block;
}


/* 登陆退出 */

.login-out {
    display: none;
    position: absolute;
    width: 5.625rem;
    bottom: -38px;
    left: -0.425rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: .125rem;
}

.login-out::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #333;
    border-left: .625rem solid transparent;
}

.login-out ul {}

.login-out ul li {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #333;
}

.login-out ul li a {
    font-size: .875rem;
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
    font-weight: 500;
    color: #fff;
}

.login-out ul li:hover {
    background-color: #FE0B0C;
}

.nav-container .user-icon-box:hover .login-out {
    display: block;
}

/* 头部部分 */
.header-box {
    height: 37.625rem;
    background: url('../images/banner1.png') no-repeat;
    background-size: 101% 101%;
    background-position: center center;
    margin-top: 6.25rem;
}

.tabBox {
    margin: 0 auto;
    padding: 6.875rem 0 3.4375rem 0;
}

.tab {
    display: flex;
    position: relative;

}

.tab ul {
    width: 307px;
    height: 54.25rem;
    /* background: #2F80ED; */
    background: url('../images/bg1.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.tab ul li {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-left: .5rem;
    text-align: left;
    padding-bottom: 3.75rem;


}

.tab ul li a {
    color: #fff;
    position: relative;
    font-family: SourceHanSansCN-Regular;
}

.tab ul li:first-child {
    margin-top: 6.375rem;
}

.tab ul li:hover a {
    color: #2F3340;
}

.tab ul li:hover a::after {
    position: absolute;
    z-index: 999;
    bottom: -0.4375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: .0625rem;
    background-color: #2F3340;
}

.activeTab a {
    color: #2F3340 !important;
}

.activeTab a::after {
    position: absolute;
    bottom: -0.4375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: .0625rem;
    border-radius: .125rem;
    background-color: #2F3340;
}

.tabCon {
    width: 53.75rem;
    height: 54.25rem;
    /* background: skyblue; */
}

.tabCon img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.tabTitle {
    width: 31.25rem;
    height: 6.25rem;
    background: #08083c;
    font-size: 1.875rem;
    color: #fff;
    position: absolute;
    left: -1.875rem;
    top: -4.125rem;
    line-height: 6.25rem;
    text-indent: 2em;
}

/* 底部 */

.fotter-box {
    /* border-radius: 3.125rem 3.125rem 0px 0px; */
    background-color: #272939;
    padding-bottom: 2.375rem;
}

.fotter-box .fotter {}


.parter_catefories {
    padding-top: 5rem;
    overflow: hidden;
    font-size: .6875rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 300;
    color: rgba(220, 220, 220, 1);
}

.parter_catefories>dl {
    float: left;
}

.parter_catefories>dl:nth-of-type(2) {
    margin: 0 8.125rem 0 9.375rem;
}

.parter_catefories>dl:nth-of-type(3) {
    margin-right: 8.375rem;
}

.parter_catefories>dl:nth-of-type(5) {
    float: right;
}

.parter_catefories dl dt {
    margin-bottom: 3.3125rem;

}

.parter_catefories dl dd {
    margin-top: 1.8125rem;
}

.parter_catefories dl dt>a {
    font-size: 1.125rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 700;
    color: #FFFFFF;
}

.parter_catefories dl dd>a {
    font-size: 1.125rem;
    font-family: "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
    font-weight: 400;
    color: #DCDCDC;
}

.concat_icon {
    text-align: right;
    margin-top: 1.75rem;
    margin-right: 4.875rem;
}

.concat_icon div {
    display: inline-block;
    width: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 2.375rem;
    height: 2.375rem;
    text-align: center;
    margin-left: 1.5rem;
    padding: .5rem;
    box-sizing: border-box;
}

.concat_icon img {
    width: 100%;
}

.concat_icon div:nth-of-type(2) {
    background-color: #67CE0B;
}

.partener_total {
    position: relative;
}

.fotter-line {
    margin-top: 3.5625rem;
    height: 1px;
    background: rgba(122, 122, 122, 1);
}

.fotter div:nth-child(4) {
    margin-top: 1.1875rem;
    text-align: center;
    font-size: .875rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(195, 195, 195, 1);
}


/* 返回顶部 */

.bottom>div:nth-child(3).goTop {
    width: 5rem;
    height: 4.5625rem;
    text-align: center;
    z-index: 999;
    background-color: #272939;
    padding-top: .625rem;
    display: none;
    cursor: pointer;
    margin-top: .625rem;
    padding-top: .625rem;
}

.goTop div:nth-child(1) {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: .375rem;
}

.goTop div:nth-child(1) img {
    width: 100%;
}

.goTop div:nth-child(2) {
    font-size: 1.125rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}